<ul class="nav nav-tabs tab-col-tail" role="tablist">
        <li role="presentation" class="active">
            <a href="#event-tab-general" data-toggle="tab" aria-expanded="false">General</a>
        </li>
        {% for key,measure in measure_names %}
            <li role="presentation">
                <a href="#event-tab-results-{{ key }}" data-toggle="tab" aria-expanded="false">
                    {% if loop.length>1 %}
                        Resultado #{{ measure }}
                    {% else %}
                        Resultados
                    {% endif %}

                </a>
            </li>
        {% endfor %}
        {% if phase.isAttendance %}
            <li role="presentation">
                <a href="#event-tab-heats" data-toggle="tab" aria-expanded="false">Rondas</a>
            </li>
        {% endif %}
</ul>