{#{% form_theme form '@BDSRWWeb/Form/edited_form_fields.html.twig' %}#}
<div class="modal fade" id="result-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-blue">
                    <h4 class="modal-title" id="defaultModalLabel">Editar Resultado - {{ athlete.getName }} </h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% for key,element in form.children %}
                        {% if not((key=='submit')or(key=='_token')) %}
                            <div class="form-group">
                                <div clasS="form-line">
                                    {{ form_row(element) }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-amber btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
</div>