{% set card_title="Configuración de Pagos" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}

{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% if not competition.hasGatewayConfig %}
                    {% include '@BDSRWWeb/v2/competition/empty/gateway_empty.html.twig' %}
                {% else %}
                    <div class="card">
                        <div class="header">
                            <h2>{{ card_title }}</h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div clasS="row">
                                        <div class="col-sm-12">
                                            <a href="{{ path('v2_panel_gateway_get_config',{"slug":competition.slug}) }}" class="btn bg-amber pull-right m-t-10 m-b-10"> Editar Configuración de Pagos</a>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="alert alert-success" role="alert">
                                                La configuración de pagos está almacenada correctamente.
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="body table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Plataforma</th>
                                                        <th>Public Key</th>
                                                        <th>Private Key</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row"><img src="{{ asset('bundles/bdsrwweb/images/stripe/Solid Dark/powered_by_stripe.png') }}" alt="Stripe"></th>
                                                        <td>{{ competition.gatewayConfig.config["publishable_key"] }}</td>
                                                        <td>xxxxxxxxxxxxxxxxx</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}