{% set card_title="Configuración de Pagos" %}
{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
<div class="content-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{{ card_title }}</h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            {{ form_start(form) }}
                            <div class="form-group">
                                <div clasS="form-line">
                                    {{ form_errors(form.private_key) }}
                                    {{ form_label(form.private_key) }}
                                    {{ form_widget(form.private_key) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div clasS="form-line">
                                    {{ form_errors(form.publishable_key) }}
                                    {{ form_label(form.publishable_key) }}
                                    {{ form_widget(form.publishable_key) }}
                                </div>
                            </div>
                            <div class="form-group">
                                    {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                                    <a href="{{ path("v2_panel_gateway_get",{"slug":competition.slug}) }}" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                            </div>
                        {{ form_end(form) }}
                        </div>
                        <div clasS="col-sm-4 hidden-xs flex-container stripe-image" style="background-image: url('{{ asset('bundles/bdsrwweb/images/stripe/Big/powered_by_stripe@3x.png'|bds_imagine_filter_small) }}')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
