{% javascripts output="js/rw_summernote.js"
    '@BDSRWWebBundle/Resources/public/js/panel/summernote/summernote.js'
    '@BDSRWWebBundle/Resources/public/js/panel/summernote/summernote-ext-amaretti.js'
    '@BDSRWWebBundle/Resources/public/js/panel/call_summernote.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}