{% set card_title="Workouts" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content_by_phase.html.twig" %}
{% block competition_tab_content %}
    {% for phase in competition.phases %}
        <div role="tabpanel" class="tab-pane fade {% if loop.first %}active in {% endif %} " id="phase-{{ phase.slug }}">
            <div class="align-right m-b-20">
                <a type="button" {% if phase.overall %} disabled {% else %} href="{{ path('v2_panel_workout_get_form',{"slug":competition.slug,"phase_slug":phase.slug}) }}" {% endif %} class="btn btn-primary waves-effect">
                    <i class="material-icons">add</i>
                    <span>Crear Evento</span>

                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Evento Publicado</th>
                            <th>Resultado Publicado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in phase.events %}
                        <tr>
                            <td>
                                {{ event.name }}
                            </td>
                            <td>
                                <div class="switch">
                                    <label><input type="checkbox" {% if event.isPublished %}checked=""{% endif %}><span data-event="{{ event.slug }}" class="lever switch-col-blue show-result-selector"></span></label>
                                </div>
                            </td>
                            <td>
                                <div class="switch">
                                    <label><input type="checkbox" {% if event.isPublished %}checked=""{% endif %}><span data-event="{{ event.slug }}" class="lever switch-col-blue publish-event-selector"></span></label>
                                </div>
                            </td>
                            <td>
                                <a type="button" href="{{ path('v2_panel_workout_get',{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                                <button type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" class="btn bg-amber btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                    <i class="material-icons">mode_edit</i>
                                </button>
                                <button data-event="{{ event.slug }}" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float event-delete">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if phase.overall %}
                            <tr class="bg-light-green">
                                <td>
                                    Clasificación Final
                                </td>
                                <td>
                                    <div class="switch">
                                        <label><input type="checkbox" checked="" disabled><span class="lever switch-col-grey"></span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="switch">
                                        <label><input type="checkbox" {% if phase.overall.published %}checked=""{% endif %} disabled><span class="lever switch-col-blue"></span></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ path('v2_panel_overall_get_phase',{"slug":competition.slug,"phase_slug":phase.slug}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                        <i class="material-icons">remove_red_eye</i>
                                    </a>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float overall-delete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                        <tr class="text-center">
                            <td colspan="4">
                                <a href="{{ path("v2_panel_overall_get",{"slug":competition.slug,"phase_slug":phase.slug}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Crear Clasificacion Final" class="btn bg-amber waves-effect">
                                    <i class="material-icons">add</i>
                                    <span>Crear Clasificación Final</span>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endfor %}
{% endblock %}