{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    {% if is_user_admin_in_competition(app.user,competition) %}
        {% include "@BDSRWWeb/v2/competition/dashboard/competition_dashboard_admin.html.twig" %}
    {% else %}
        {% include "@BDSRWWeb/v2/competition/dashboard/competition_dashboard_athlete.html.twig" %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [10],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}