{% set card_title="Administradores de la competición" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% set accepted_admins=(competition.adminUsers.count - pending_admins) %}
{% block content %}
        <div class="content-fluid">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_outline</i>
                        </div>
                        <div class="content">
                            <div class="text">Total Administradores</div>
                            <div class="number count-to" data-from="0" data-to="{{ competition.adminUsers.count }}" data-speed="2000" data-fresh-interval="5">{{ competition.adminUsers.count }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">Pendientes</div>
                            <div class="number count-to" data-from="0" data-to="{{ pending_admins }}" data-speed="2000" data-fresh-interval="5">{{ pending_admins }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">Aceptados</div>

                            <div class="number count-to" data-from="0" data-to="{{ accepted_admins }}" data-speed="2000" data-fresh-interval="5">{{ accepted_admins }}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>{{ card_title }}</h2>
                        </div>
                        <div class="body">
                        <a href="{{ path('v2_panel_admins_get_form',{"slug":competition.slug}) }}" class="btn btn-primary waves-effect pull-right m-b-40">
                            <i class="material-icons">person_outline</i>
                            <span>Añadir Administrador</span>
                        </a>
                                <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-bInfo=false>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for admin in admins.admins %}
                                        <tr>
                                            <td>{{ admins.users[admin.user_id].name }}</td>
                                            <td>{{ admin.box_name|default('') }}</td>
                                            <td>
                                                <span class="badge bg-{{ ('athlete_status_class.'~admin.status)|trans({},"competition",'es') }}">{{ ('athlete_status.'~admin.status)|trans({},"competition",'es') }}</span>
                                            </td>
                                            <td>
                                                {% if admin.user_id != app.user.getId %}
                                                    {% if admin.status=='PENDING' %}
                                                        <button type="button" data-user="{{ admins.users[admin.user_id].username }}" data-competition="{{ competition.slug }}" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float admin-re-email">
                                                            <i class="material-icons">email</i>
                                                        </button>
                                                    {% endif %}
                                                    <button type="button" data-user="{{ admins.users[admin.user_id].username }}" data-competition="{{ competition.slug }}" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float admin-delete">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="text-center">
                                            <td colspan="3">
                                                Añade tu primer administrador  <a href="{{ path('v2_panel_admins_get_form',{"slug":competition.slug}) }}" class="btn btn-primary waves-effect m-l-20" >
                                                    <i class="material-icons">person_outline</i>
                                                    <span>Añadir administradores</span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}