{% set card_title="Atletas" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content_by_phase.html.twig" %}
{% block pre_card %}
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">people</i>
                </div>
                <div class="content">
                    <div class="text">Total Atletas/Equipos</div>
                    <div class="number count-to" data-from="0" data-to="{{ competition.phases.first.countUsers }}" data-speed="2000" data-fresh-interval="5">{{ competition.judgeUsers.count }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block competition_tab_content %}
    <script>
        var categories={};
    </script>
    {% for phase in competition.phases %}
        <div role="tabpanel" class="tab-pane {% if  loop.first %}active in {% else %} fade {% endif %}" id="phase-{{ phase.slug }}">
            {% if phase.categories.empty %}
                <div class="alert alert-warning" role="alert">
                   Esta fase aún no tiene categorías, puedes añadirlas
                    <a class="alert-link" href="{{ path('v2_panel_categories_get_create',{"slug":competition.slug}) }}">Aquí</a>
                </div>
            {% else %}
                {% if phase.hasIndividualCategory %}
                    <a  href="{{ path("v2_panel_athletes_get_form",{"slug":competition.slug,"phase_slug":phase.slug}) }}" class="btn btn-primary waves-effect">
                        <i class="material-icons">person_add</i>
                        <span>Añadir Atletas</span>
                    </a>
                {% endif %}
                {% if phase.hasTeamCategory %}
                    <a  href="{{ path("v2_panel_athletes_get_form",{"slug":competition.slug,"phase_slug":phase.slug}) }}" class="btn btn-primary waves-effect">
                        <i class="material-icons">person_add</i>
                        <span>Añadir Equipos</span>
                    </a>
                {% endif %}

                <a href="{{ path('v2_panel_bots_get_create',{"slug":competition.slug,"phase_slug":phase.slug}) }}"  class="btn btn-primary waves-effect">
                    <i class="material-icons">add_to_photos</i>
                    <span>Añadir Bots</span>
                </a>
                {% if not loop.first %}
                    <a href="{{ path('v2_panel_phase_import_get',{"slug":competition.slug,"phase_slug":phase.slug,"phase_old_slug":competition.phases.get(loop.index0-1).slug}) }}"  class="btn btn-primary waves-effect">
                        <i class="material-icons">person_add</i>
                        <span>Importar de la fase {{ competition.phases.get(loop.index0-1).name }}</span>
                    </a>
                {% endif %}

                <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-competition="{{ competition.slug  }}">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Box</th>
                        <th>Status</th>
                        <th>Categoria</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for athlete in athletes.athletes[phase.slug] %}
                        {% if athlete.team_name %}
                            {% set name=athlete.team_name %}
                        {% else %}
                            {% set name=athlete.bot_name?:athletes.users[athlete.user_id].name %}
                        {% endif %}
                        <tr>
                            <td>
                                {{ name }}
                            </td>
                            <td>{{ athlete.box_name }}</td>
                            <td>
                                <span class="badge bg-{{ ('athlete_status_class.'~athlete.status)|trans({},"competition",'es') }}">{{ ('athlete_status.'~athlete.status)|trans({},"competition",'es') }}</span>
                                {% if athlete.order_id %}
                                    <span class="badge bg-{{ ('athlete_status_payment_class.'~athlete.order_status)|trans({},"competition",'es') }}">
                                        {{ ('athlete_payment_status.'~athlete.order_status)|trans({},"competition",'es') }}
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {{ athlete.category_name }}
                            </td>
                            <td>
                                {% if athlete.team_name %}
                                    <button type="button" data-athlete-name="{{ name }}" data-team="{{ athlete.team_slug }}" data-phase="{{ phase.slug }}" data-category="{{ athlete.category_name }}" class="btn bg-teal btn-circle btn-circle-xs waves-effect waves-circle waves-float show-team">
                                        <i class="material-icons">people</i>
                                    </button>
                                {% endif %}
                                {% if athlete.order_id %}
                                    {% set  is_paid=athlete.order_status|order_paid  %}
                                    {% set  is_invitation=athlete.order_status|order_invitation  %}
                                    {% set  is_unpaid=athlete.order_status|order_unpaid  %}
                                    {% set  is_accepted=athlete.status|athlete_accepted  %}
                                    {% if not is_accepted or is_unpaid %}
                                        <button type="button" data-athlete-name="{{ name }}" data-athlete="{{ athlete.id }}" data-phase="{{ phase.slug }}" data-category="{{ athlete.category_name }}" class="btn bg-light-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float reemail-athlete">
                                            <i class="material-icons">email</i>
                                        </button>
                                    {% endif %}
                                    {% if is_unpaid %}
                                        <button type="button" title="Invitar Equipo/Atleta" data-athlete-name="{{ name }}" data-athlete="{{ athlete.id }}" data-phase="{{ phase.slug }}" data-category="{{ athlete.category_name }}" class="btn bg-light-green btn-circle btn-circle-xs waves-effect waves-circle waves-float invite-athlete">
                                            <i class="material-icons">attach_money</i>
                                        </button>
                                    {% endif %}
                                {% else %}
                                    {% if athlete.status=='PENDING' %}
                                        <button type="button" data-athlete-name="{{ name }}" data-athlete="{{ athlete.id }}" data-phase="{{ phase.slug }}" data-category="{{ athlete.category_name }}" class="btn bg-light-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float reemail-athlete">
                                            <i class="material-icons">email</i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                <button type="button" data-athlete-name="{{ name }}" data-athlete="{{ athlete.id }}" data-phase="{{ phase.slug }}" data-category="{{ athlete.category_name }}" class="btn bg-amber btn-circle btn-circle-xs waves-effect waves-circle waves-float change-category">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" data-athlete-name="{{ name }}" data-athlete="{{ athlete.id }}" data-phase="{{ phase.slug }}" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float delete-athlete">
                                    <i class="material-icons">delete</i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <script type="text/javascript">
            categories['{{ phase.slug }}']={
                {% for category in phase.categories %}
                    '{{ category.slug }}':'{{ category.name }}'
                {% if not loop.last %},{% endif %}
                {% endfor %}
            }
        </script>
    {% endfor %}
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}