{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% set accepted_judges=(competition.judgeUsers.count - pending_judges) %}
{% block content %}
        <div class="content-fluid">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">gavel</i>
                        </div>
                        <div class="content">
                            <div class="text">Total Jueces</div>
                            <div class="number count-to" data-from="0" data-to="{{ competition.judgeUsers.count }}" data-speed="2000" data-fresh-interval="5">{{ competition.judgeUsers.count }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">Pendientes</div>
                            <div class="number count-to" data-from="0" data-to="{{ pending_judges }}" data-speed="2000" data-fresh-interval="5">{{ pending_judges }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">Aceptados</div>

                            <div class="number count-to" data-from="0" data-to="{{ accepted_judges }}" data-speed="2000" data-fresh-interval="5">{{ accepted_judges }}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Jueces</h2>
                        </div>
                        <div class="body">
                        <a href="{{ path("v2_panel_judges_get_form",{"slug":competition.slug}) }}" class="btn btn-primary waves-effect pull-right m-t-20 m-b-20" >
                            <i class="material-icons">gavel</i>
                            <span>Añadir Jueces</span>
                        </a>
                                <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-competition="{{ competition.slug }}">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for judge in judges.judges %}
                                        <tr>
                                            <td>{{ judges.users[judge.user_id].name }}</td>
                                            <td>
                                                <span class="badge bg-{{ ('athlete_status_class.'~judge.status)|trans({},"competition",'es') }}">{{ ('athlete_status.'~judge.status)|trans({},"competition",'es') }}</span>
                                            </td>
                                            <td>
                                                {% if judge.status=='PENDING' %}
                                                <button type="button" data-user="{{ judges.users[judge.user_id].username }}" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float judge-re-email">
                                                    <i class="material-icons">email</i>
                                                </button>
                                                {% endif %}
                                                <button type="button" data-user="{{ judges.users[judge.user_id].username }}" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float judge-delete">
                                                    <i class="material-icons">delete</i>
                                                </button>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="text-center">
                                            <td colspan="3">
                                                Añade tu primer Juez  <a href="{{ path("v2_panel_judges_get_form",{"slug":competition.slug}) }}" class="btn btn-primary waves-effect m-l-20" >
                                                    <i class="material-icons">gavel</i>
                                                    <span>Añadir Jueces</span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}