{% set competition_label=true %}
{% set card_title="Configuración General" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block competition_content %}
        {% include "@BDSRWWeb/v2/competition/configuration/main_configuration.html.twig" %}
{% endblock %}