{% set card_title="Configuración Fase " %}
{% extends "@BDSRWWeb/v2/competition/components/config_competition_content_by_phase.html.twig" %}
{% block competition_tab_content %}
            {% include "@BDSRWWeb/v2/competition/configuration/phase_configuration.html.twig" %}
{% endblock %}
{% block modal %}
    {% if (phase is defined) and (not phase.isPaid) %}
        {% include '@BDSRWWeb/v2/competition/payment/loading_payment_modal.html.twig' %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            $('.js-datepicker').datepicker({
                format: "dd/mm/yyyy",
                maxViewMode: 2,
                language: "es"
            });
        });
    </script>
{% endblock %}