{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Añadir Categría</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.name) }}
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name,{"attr":{"class":"form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.categoryType) }}
                                        {{ form_label(form.categoryType) }}
                                        {{ form_widget(form.categoryType,{"attr":{"class":"form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.minTeamAthletes) }}
                                        {{ form_label(form.minTeamAthletes) }}
                                        {{ form_widget(form.minTeamAthletes,{"attr":{"class":"form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.maxTeamAthletes) }}
                                        {{ form_label(form.maxTeamAthletes) }}
                                        {{ form_widget(form.maxTeamAthletes,{"attr":{"class":"form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.maxAthletes) }}
                                        {{ form_label(form.maxAthletes) }}
                                        {{ form_widget(form.maxAthletes,{"attr":{"class":"form-control"}}) }}
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <div class="form-group input-group">
                                            <div class="form-line">
                                                {{ form_errors(form.price) }}
                                                {{ form_label(form.price) }}
                                                {{ form_widget(form.price,{"attr":{"class":"form-control"}}) }}
                                            </div>
                                            <span class="input-group-addon">€</span>
                                        </div>
                                    </div>
                                </div>

                                {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                                <a href="{{ path("v2_panel_categories_get",{"slug":competition.slug}) }}" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}