{% set card_title="Atletas" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content_by_phase.html.twig" %}
{% block competition_tab_content %}
    {% for phase in competition.phases %}
        <div role="tabpanel" class="tab-pane {% if  loop.first %}active in {% else %} fade {% endif %}" id="phase-{{ phase.slug }}">
            <a  href="{{ path("v2_panel_categories_get_create",{"slug":competition.slug,"phase_slug":phase.slug}) }}" class="btn btn-primary waves-effect">
                <i class="material-icons">person_add</i>
                <span>Añadir Categoría</span>
            </a>
            <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-competition="{{ competition.slug  }}">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>Inscritos</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for category in phase.categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>
                                {{ category.type|trans([],"competition","es") }}
                                {% if category.isTeam %}
                                    <br> ( min {{ category.getMinTeamAthletes }} Atletas / max {{ category.getMaxTeamAthletes }} Atletas )
                                {% endif %}
                            </td>
                            <td>
                                {% if category.price %}
                                    {{ (category.price/100)|number_format(2, '.', ',') }}€
                                {% else %}
                                    <span class="badge bg-green">Gratuito</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ category.athletes.count }}
                                {% if category.maxAthletes and category.maxAthletes>0 %}
                                    / {{ category.maxAthletes }}
                                {% endif  %}
                            </td>
                            <td>
                                <a href="{{ path('v2_panel_categories_get_edit',{"slug":competition.slug,"phase_slug":phase.slug,"category_slug":category.slug}) }}" type="button" class="btn bg-amber btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a type="button" data-category="{{ category.slug }}" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float {% if category.athletes.empty %}delete-category{% else %} disabled{% endif %}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}