{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}{% endblock %}
{% block preHeader %}{% endblock %}
{% block headerContent %}{% endblock %}
{% block preHeaderLinks %}{% endblock %}
{% block content %}{% endblock %}
{% block rightContent %}{% endblock %}
