<div mc:edit="std_footer">
    <em>Copyright &copy; 2016 - {{ license.name }}, Todos los Derechos Reservados.</em>
    <br />
    <strong>Nuestro Email:</strong>
    <br />
    {{ license.contactEmail }}
</div>