{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}Contacto {{ name }}{% endblock %}
{% block preHeader %}{% endblock %}
{% block headerContent %}{% endblock %}
{% block preHeaderLinks %}{% endblock %}
{% block content %}{{ text }}{% endblock %}
{% block rightContent %}Contestar a {{ email }}{% endblock %}
