{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}{{ invitation.phase.competition.name }}{% endblock %}
{% block preHeader %}{% endblock %}
{% block headerContent %}{% endblock %}
{% block preHeaderLinks %}{% endblock %}
{% block content %}
    <p>
        Has sido invitiado a participar en la competición {{ invitation.phase.competition.name }}, en su fase {{ invitation.phase.name }}. Para ello deber
        darte de alta en <a href="http://{{ license.domain }}">{{ license.name }}</a> el sistema de gestión de competiciones. Para ello, haz click <strong><a href="">Aqui</a></strong>
    </p>
{% endblock %}
{% block rightContent %}{{ invitation.phase.competition.text }}{% endblock %}
