<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{{ title }}</h2>
                </div>
                <div class="body">
                    <div class="row empty">
                        <div class="col-lg-7 empty-image min-height" style="background-image: url({{ asset('bundles/bdsrwweb/images/front/fondoRankwod.jpg'|bds_imagine_filter_medium) }})"></div>
                        <div class="col-lg-5 min-height flex-container">
                            {% block paragraph %}
                            <p>{{ paragraph|raw }}</p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>