{% set title='Aún no hay competiciones' %}
{% set paragraph='Lo sentimos, aún no tienes competiciones en las que poder competir, si crees que es un error, escríbenos un email a {{ license.contactEmail }}' %}
{% extends "@BDSRWWeb/v2/competition/empty/base_empty.html.twig" %}