{% set title='Aún no hay configuración de pagos' %}
{% extends "@BDSRWWeb/v2/competition/empty/base_empty.html.twig" %}
{% block paragraph %}
    <div class="text-center">
        <p>Si quieres cobrar a los atletas por inscribirse a tu competición el primer paso es tener una cuenta en <a href="https://stripe.com" target="_blank">Stripe</a> en donde
            podrás asociar tu número de cuenta para recibir los pagos. Una vez hecho esto debes obtener la <i>Secret Key</i> y la <i>Publishable Key</i>. Si tines dudas
            consulta con nuestro servicio técnico y podremos ayudarte</p>
        <a href="{{ path('v2_panel_gateway_get_config',{"slug":competition.slug}) }}"> Configuración de Pagos</a>
    </div>
{% endblock %}