        {% for event in phase.events %}
            {% if loop.first %}
                <div class="clearfix">
                <ul class="clearfix options">
            {% endif %}
            <li><a class="{{ loop.first?"selected":"" }} event-selector result-selector" data-event="{{ event.slug }}">{{ event.name }}</a></li>
            {% if loop.last %}
                </ul>
                </div>
            {% endif %}
        {% endfor %}
        <div class="section-title">
            <span class="border"></span>
        </div>
        {%  for category in phase.categories %}
            {% if loop.first %}
                <div class="clearfix">
                <ul class="options clearfix">
            {% endif %}
            <li><a class="{{ loop.first?'selected':'' }} category-selector result-selector" data-category="{{ category.slug }}">{{ category.name }}</a></li>
            {% if loop.last %}
                </ul>
                </div>
            {% endif %}
        {% endfor %}