<ul class="list-unstyled">
    {% for result in results %}
       {% set bool= ((box=="") or ((box|default(false)) and (box==result.box))) %}
       {% if bool %}
            <li>
                <div class="row rank-row">
                    <div class="col-lg-2 col-xs-2">
                        <span class="rank-number">{{ result.rank }}</span>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12"><span class="rank-name">{{ result.user }}</span></div>
                            <div class="col-lg-12 col-xs-12"><span class="rank-box">{{ result.box }}</span></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-4">
                        <span class="rank-result">{{ result.result }}</span>
                    </div>

                </div>
            </li>
       {% endif %}
    {% else %}
        <li>
            <div class="row rank-row">
                <div class="col-lg-2 col-xs-2">
                    <span class="rank-number">0</span>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12"><span class="rank-name">Aún no hay Resultados</span></div>
                        <div class="col-lg-12 col-xs-12"><span class="rank-box"></span></div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <span class="rank-result">0</span>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>