{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{%  extends "@BDSRWWeb/Front/competition.twig" %}
{% block section %}
    <section id="register" class="section">
        <div class="container">
            <div class="section-title mt5">
                <h2>{{ competition.name }}</h2>
            </div><!-- end .section-title -->
            <div class="row mt1">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>Hola bienvenido a la inscricpion de la fase {{ phase.name }} de la competición <strong>{{ competition.name }}</strong></p>
                    {% if phase.getFloatPrice %}
                    <p>El coste de la inscripción es de <strong> {{ phase.getFloatPrice }}€ </strong>, al inscribirte a la competición podras realizar el pago</p>
                    {% else %}
                        <p>El coste de la inscripción es gratuito, asi que sólo necesitas elegir tu categoría y prepararte para los entrenos!</p>
                    {% endif %}
                </div>
            </div>
            <div class="row mt1">
                <div class="col-sm-4 col-sm-offset-1 col-xs-12">
                    <h3 class="text-center">¿Ya tienes cuenta?</h3>
                    <p>Accede a tu cuenta para añadir esta competición a tu perfil</p>
                    <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="input-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" placeholder="{{ 'security.login.username'|trans({},'FOSUserBundle','es') }}" name="_username" required="required">
                        </div>
                        <div class="input-group input-group mt10">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control"  id="password" name="_password" placeholder="{{ 'security.login.password'|trans({},'FOSUserBundle','es') }}" required="required" >
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({},'FOSUserBundle','es') }}
                                </label>
                                <a href="{{ url("get_reset_password") }}" id="login-forget-link" class="text-center pull-right">
                                    ¿Has Olvidado tu contraseña?
                                </a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success col-xs-12" id="_submit" name="_submit">{{ 'security.login.submit'|trans({},'FOSUserBundle','es') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h3 class="text-center">¿Nuevo en {{ license.name }}?</h3>
                    <p>Crea tu perfil y accede a las mejores competiciones.</p>
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="col-sm-12">
                            {{ form_errors(form.firstName) }}
                            {{ form_widget(form.firstName) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_errors(form.lastName) }}
                            {{ form_widget(form.lastName) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_errors(form.box) }}
                            {{ form_widget(form.box) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_errors(form.category) }}
                            {{ form_widget(form.category) }}
                        </div>
                    </div>
                    <div class="text-center">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}