{%  extends "@BDSRWWeb/Front/competition.twig" %}
{% block section %}
    <section id="payment" class="section">
        <div class="container">
            <div class="section-title mt5">
                <h2>{{ competition.name }}</h2>
            </div><!-- end .section-title -->
            <div class="row mt1">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>Hola <i>{{ app.user.firstName }}</i> estas a punto de pagar la inscripción de la fase {{ phase.name }} de la competición <strong>{{ competition.name }}</strong></p>
                    <p>El coste de la inscripción es de <strong> {{ phase.getFloatPrice }}€ </strong></p>
                </div>
            </div>
            <div class="row mt1">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    <div id="payment-token">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        var publishable_key={{ stripe_publishable_key|json_encode|raw }};
        var token='{{ token }}';
        var competition='{{ competition.slug }}';
    </script>
    {{ parent() }}

{% endblock %}