{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{%  extends "@BDSRWWeb/Front/competition.twig" %}
{% block section %}
    <section id="register" class="section">
        <div class="container">
            <div class="section-title mt5">
                <h2>{{ competition.name }}</h2>
            </div><!-- end .section-title -->
            <div class="row mt1">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>Hola <i>{{ app.user.firstName }}</i> estas a punto de inscribirte en la fase {{ phase.name }} de la competición <strong>{{ competition.name }}</strong></p>
                </div>
            </div>
            <div class="row mt1">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    {{ form_start(form) }}
                        {{ form_row(form.category) }}
                    <div class="text-center">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}