{{log this}}
{{#each phase.events}}
    {{#if @first }}
        <div class="clearfix">
        <ul class="clearfix options">
    {{/if}}
        <li><a class="{{# if @first}} selected {{/if}} event-selector result-selector" data-event="{{ this.slug }}">{{ this.name }}</a></li>
    {{#if @last}}
        </ul>
        </div>
    {{/if}}
{{/each}}
<div class="section-title">
    <span class="border"></span>
</div>
{{#each phase.categories}}
    {{#if @first }}
        <div class="clearfix">
        <ul class="clearfix options">
    {{/if}}
        <li><a class="{{# if @first}} selected {{/if}} category-selector result-selector" data-category="{{ this.slug }}">{{ this.name }}</a></li>
    {{#if @last}}
        </ul>
        </div>
    {{/if}}
{{/each}}
