<ul class="list-unstyled">
    {{#each results}}
            {{# if (should_show_result this.box ../box) }}
            <li>
                <div class="row rank-row">
                    <div class="col-lg-2 col-xs-2">
                        <span class="rank-number">{{ this.rank }}</span>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12"><span class="rank-name">{{ this.user }}</span></div>
                            <div class="col-lg-12 col-xs-12"><span class="rank-box">{{ this.box }}</span></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-4">
                      {{#if ../phase_point_system }}
                        <span class="rank-result">{{ this.points }}</span>
                        <span class="small-result">{{ this.result }}</span>
                      {{else}}
                        <span class="rank-result">{{ this.result }}</span>
                      {{/if}}


                    </div>

                </div>
            </li>
            {{/if}}
    {{else}}
        <li>
            <div class="row rank-row">
                <div class="col-lg-2 col-xs-2">
                    <span class="rank-number">0</span>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12"><span class="rank-name">Aún no hay Resultados</span></div>
                        <div class="col-lg-12 col-xs-12"><span class="rank-box"></span></div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <span class="rank-result">0</span>
                </div>
            </div>
        </li>
    {{/each}}
</ul>