{% set card_title="Workouts" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content_by_phase.html.twig" %}
{% block competition_tab_content %}
    {% for phase in competition.getPublishedOnlinePhases %}
        <div role="tabpanel" class="tab-pane fade {% if loop.first %}active in {% endif %} " id="phase-{{ phase.slug }}">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Resultado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in phase.publishedEvents %}
                        {%  set results=get_user_event_results(app.user,event) %}
                        {%  set results_corrected=are_results_corrected(results) %}
                        <tr>
                            <td>
                                {{ event.name }}
                            </td>
                            <td>
                                {% for result in results %}
                                    {{ result|wod_result }} ({{ result.tieBreaker }})
                                    {% if (loop.length>1 and (not loop.last)) %}
                                        ||
                                    {% endif %}
                                {% else %}
                                    #
                                {% endfor %}
                            </td>
                            <td>
                                {% if not event.isExpired %}
                                    <a href="{{ path("v2_panel_event_result_get_form",{"slug": competition.slug,"phase_slug":event.phase.slug,"event_slug":event.slug}) }}">
                                        <button type="button" class="btn btn-sm btn-social btn-info"><i class="material-icons">{% if results|length %}mode_edit{% else %}add_circle_outline{% endif %}</i></button>
                                    </a>
                                {% else %}
                                    {% if results_corrected %}
                                        {% if results[0].hasComment %}
                                            <span class="badge bg-green">Corregido</span>
                                        {% else %}
                                            <span class="badge bg-amber">Corregido</span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% if results_corrected and results[0].hasComment %}
                        <td colspan="4">
                            <p><strong>Comentario del Juez:</strong></p>
                            <p>
                                {{ results[0].comment }}
                            </p>
                        </td>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">Aún no hay eventos disponibles</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endfor %}
{% endblock %}