{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb breadcrumb-bg-blue">
                    <li><a href="{{ path('v2_panel_competition', {'slug': competition.slug}) }}"><i class="material-icons">grid_on</i> {{ competition.name }}</a></li>
                    <li><a href="{{ path('v2_panel_workout', {'slug': competition.slug}) }}"><i class="material-icons">blur_on</i> {{ phase.name }}</a></li>
                    <li class="active"><i class="material-icons">fitness_center</i>Clasificación Final</li>
                </ol>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="content-fluid">
                            <ul class="nav nav-tabs tab-nav-right tab-col-pink" role="tablist">
                                {% for category in phase.categories %}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}><a
                                                href="#categories-{{ category.slug }}"
                                                data-toggle="tab">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for category in phase.categories %}
                                    <div role="tabpanel" class="tab-pane fade {% if loop.first %} in active {% endif %}"
                                         id="categories-{{ category.slug }}">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover js-datatable dataTable">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Atleta</th>
                                                    <th>Box</th>
                                                    <th>Resultado</th>
                                                    <th>Desempate</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for result in overall_results[category.slug] %}
                                                    <tr>
                                                        <td>#{{ loop.index }}{% if phase.isDesertedResultLikeGames() and result.isIncomplete() %}*{% endif %}</td>
                                                        <td>{{ result.athlete.name }}</td>
                                                        <td>{{ result.athlete.box }}</td>
                                                        <td>{{ result.result }}</td>
                                                        <td>{% if result.tieBreaker %}{{ result.tieBreaker }}{% endif %}</td>
                                                        <td>{% if (loop.index0) %}
                                                                {% if overall_results[category.slug][loop.index0-1].result==result.result %}
                                                                    <a class="btn bg-light-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float tie_break_up" data-athlete="{{ result.athlete.id }}" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}">
                                                                        <i class="material-icons">arrow_upward</i>
                                                                    </a>
                                                                {% endif %}
                                                                {% if (not loop.last) and (result.tieBreaker) and (overall_results[category.slug][loop.index].result==result.result) %}
                                                                    <a class="btn bg-light-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float tie_break_down" data-athelte="{{ result.athlete.id }}" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}">
                                                                        <i class="material-icons">arrow_downward</i>
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}