/* Add here all your css styles (customizations) */
@font-face {
    font-family: Impact;
    src: url("../../fonts/Impact.ttf");
}
#login-page{
    background-color: #cccccc;
}
div#login-logo img {
    height: 4em;
}
.crossfit_font{
    font-family: Impact;
    font-weight: normal;
    text-transform: none;
}
.bt10px {
    bottom: 10px;
}
.mt1em{
    margin-top: 1em;
}
.money-carousel .carousel-indicators .active{
    background-color: #8dc859;
}
.money-carousel .carousel-indicators li {
    border-color: #8dc859;
}

.infographic-box .smallvalue {
    font-size: 1.1em;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;

}
.infographic-box{
    min-height: 100px;
}
.infographic-box span.value.datetime {
    font-size: 1.8em;
}
li.user-list .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
li.user-list .user-subhead {
    font-size: 0.875em;
    font-style: italic;
    margin-left: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
li.user-list img {
    float:left;
    max-width: 50px;
    margin-right: 15px;
}
body {
    cursor: default;
}
a {
    cursor: pointer;
}
.mt5em {
    margin-top: 5em;
}