{% extends "@BDSRWWeb/Front/Pages/skeleton.html.twig" %}
{% block content %}
    {% include "@BDSRWWeb/Front/Pages/index/components/hero.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/index/components/competitions.html.twig" %}
{% endblock %}