
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include "@BDSRWWeb/Front/Pages/components/seo/seo.html.twig" %}
    <title>{{ license.name }}</title>

    {% stylesheets filter="cssrewrite" output="css/front/index.css"

        "bundles/bdsrwweb/bower/bootstrap4/dist/css/bootstrap.min.css"
        "bundles/bdsrwweb/bower/font-awesome-5/css/all.min.css"
        "bundles/bdsrwweb/bower/css-hamburgers/dist/hamburgers.css"
        "bundles/bdsrwweb/unify/unify-core.css"
        "bundles/bdsrwweb/unify/unify-components.css"
        "bundles/bdsrwweb/unify/unify-globals.css"
        "bundles/bdsrwweb/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"
        "bundles/bdsrwweb/test/sidebar.css"
        "bundles/bdsrwweb/css/front/stripe_front.css"
        "bundles/bdsrwweb/bower/sweetalert2/dist/sweetalert2.min.css"

    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>

<body>

<div class="container-fluid wrapper">
    <!-- Sidebar  -->
    {% include "@BDSRWWeb/Front/Pages/components/sidebar.html.twig" %}
    <!-- Page Content  -->
    <div class="w-100">
        {% block content %}
        {% endblock %}
    </div>

</div>

{% block javascripts %}
    {% javascripts output="js/front/index.js"
        "@BDSRWWebBundle/Resources/public/bower/jquery3/dist/jquery.js"
        "@BDSRWWebBundle/Resources/public/bower/bootstrap4/dist/js/bootstrap.js"
        "@BDSRWWebBundle/Resources/public/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"
        "@BDSRWWebBundle/Resources/public/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"
        "@BDSRWWebBundle/Resources/public/bower/jquery-form/dist/jquery.form.min.js"
        "@BDSRWWebBundle/Resources/public/bower/sweetalert2/dist/sweetalert2.all.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            // Look for .hamburger
            var hamburger = document.querySelector(".hamburger");
            var sidebar = document.querySelector("#sidebar");
            // Width and Height
            var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
            // On click
            hamburger.addEventListener("click", function() {
                // Toggle class "is-active"
                hamburger.classList.toggle("is-active");
                sidebar.classList.toggle("active");
                // Do something else, like open/close menu
            });
        });
    </script>
{% endblock %}

</body>

</html>