<div class="row g-pt-80">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1 class="text-center">{{ phase.name }} <small>{{ competition.name }}</small></h1>
    </div>
</div>
<div class="row g-pt-80 g-pb-80">
    <div class="col-md-12 col-lg-6 offset-lg-3 register-form">
        <h2 class="text-center">Completa tu Inscripción - {{ app.user.completeName }}</h2>
        <p>Nos hacen falta solo unos datos más para completar tu registro</p>
        {{ form(form) }}
    </div>
</div>