<div class="row g-pt-80">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1 class="text-center">{{ phase.name }} <small>{{ competition.name }}</small></h1>
    </div>
</div>
<div class="row g-pt-80 g-pb-80">
    <div class="col-md-12 col-lg-6 offset-lg-3 register-form">
        <h2 class="text-center">Inscríbete - {{ app.user.completeName }}</h2>
        <div class="alert alert-warning text-center" role="alert">
            ¿ No eres tú ? <a href="{{ path('fos_user_security_logout') }}" class="alert-link">Cierra Sesión</a> para inscribirte con otro usuario.
        </div>
        {{ form(form) }}
    </div>
</div>