{% set image=competition.image?competition.image.filePath:"bundles/bdsrwweb/images/default_competition.jpg" %}
<div class="row g-pt-40">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1 class="text-center">{{ phase.name }} <small>{{ competition.name }}</small></h1>
    </div>
</div>
<div class="row g-pt-40 g-pb-40">
    <div class="col-md-12 col-lg-6 offset-lg-3">
        <h2 class="text-center"><strong>Gracias</strong> {{ app.user.completeName }}</h2>
        <h3 class="text-center">Categoría: <strong>{{ category.name }}</strong></h3>
    </div>
</div>
<div class="row g-pb-80">
    <div class="col-md-12 col-lg-2 offset-lg-2">
        <img class="img-fluid" src="{{ asset(image|bds_imagine_filter_medium) }}" alt="{{ competition.name }}">
    </div>
    <div class="col-md-12 col-lg-6">
        <p>Gracias por inscribirte en nuestra competición!</p>
        <p>Ya tienes acceso al <a href="{{ path('v2_panel_competition',{"slug":competition.slug}) }}">panel</a> donde podras subir/ver tus resultados</p>
    </div>
</div>