{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Añadir atletas a la fase {{ phase.name }}</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.name) }}
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.category) }}
                                        {{ form_label(form.category) }}
                                        {{ form_widget(form.category) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.text) }}
                                        {{ form_label(form.text) }}
                                        {{ form_widget(form.text,{"attr":{"class":"no-resize form-control","row":4,"minlength":3}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                                    <a href="{{ path("v2_panel_athletes_get",{"slug":competition.slug}) }}" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}