{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Importar atletas de la fase {{ phase_old.name }}</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <p>Importa los atletas de la fase <strong>{{ phase_old.name }}</strong> a la <strong>{{ phase.name }}</strong></p>
                                    <div class="form-line">
                                        {{ form_errors(form.category) }}
                                        {{ form_label(form.category) }}
                                        {{ form_widget(form.category) }}
                                    </div>
                                </div>
                                {% for category in phase_old.categories %}
                                    {% set form_name=category.slug~'_athletes' %}
                                    <div class="form-group">
                                        {{ form_errors(form[form_name]) }}
                                        {{ form_label(form[form_name]) }}
                                            {% for athlete in  form[form_name] %}
                                                {% if (loop.index0 % 3)==0  %}<div class="row">{% endif %}
                                                <div class="col-sm-4">
                                                    {{ form_widget(athlete,{"attr":{"class":"chk-col-ligth-blue"} }) }}
                                                    {{ form_label(athlete) }}
                                                </div>
                                                {% if ((loop.index % 3)==0) or loop.last  %}</div>{% endif %}
                                            {% endfor %}
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                                    <a href="{{ path("v2_panel_athletes_get",{"slug":competition.slug}) }}" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}