{% set card_title="Equipos de la Categoría '"~category.name~"'" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h1>{{ card_title }}</h1>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-bInfo=false>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Box</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teamAthlete in teamAthletes %}
                            <tr>
                                <td>
                                    <i class="material-icons {% if teamAthlete.team.id == team.id %}col-red {% endif %}">people</i>
                                </td>
                                <td>{{ teamAthlete.team.name }}</td>
                                <td>{{ teamAthlete.team.atheltes.frist.box_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}