<table class="table table-condensed">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Datos Extra</th>
    </tr>
    </thead>
    <tbody>
    {% for athlete in team.athletes %}
        <tr>
            <th class="text-center" scope="row"><i class="material-icons">person</i></th>
            <td>{{ athlete.getName }}
                {% if is_granted('ROLE_SUPER_ADMIN') %}<br><small>{{ athlete.username }}</small>{% endif %}
            </td>

            <td class="text-center">
                <ul class="list-unstyled">
                    {% for extraData in athlete.extraDataCollection %}
                        <li><strong>{{ extraData.extraData.name }} </strong> {{ extraData.frontValue }}</li>
                    {% endfor %}
                </ul>

            </td>

        </tr>
    {% endfor %}
    <tr>
        <td colspan="3" class="text-center">
            <a href="{{ path('v2_panel_team_get_edit',{"slug":competition.slug,"team_slug":team.slug}) }}" type="button" class="btn btn-block btn-lg btn-warning waves-effect">
                <i class="material-icons">edit</i>
                Editar Equipo
            </a>
        </td>
    </tr>
    </tbody>
</table>