{% set card_title="Editar equipo "~team.name %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h1>{{ card_title }}</h1>
                    <h2>Categroía {{ category.name }} <small>Min Atletas: {{ category.maxTeamAthletes }} / Max Atletas {{ category.MinTeamAthletes }}</small></h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-bInfo=false>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Box</th>
                            <th>Talla Camiseta</th>
                            {% for extraData in competition.extraDataCollection %}
                                <th>{{ extraData.name }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teamAthlete in team.athletes %}
                            <tr>
                                <td>
                                    <i class="material-icons {{ loop.first?"col-red":"" }}">person</i>
                                </td>
                                <td>{{ teamAthlete.name }}</td>
                                <td>{{ teamAthlete.userExtension.boxName }}</td>
                                <td>
                                    {{ teamAthlete.userExtension.tShirtSize }}
                                </td>
                                {% for extraData in competition.extraDataCollection %}
                                    <td>{{ teamAthlete.getExtraDataFrontValue(extraData) }}</td>
                                {% endfor %}
                                <td>
                                    <a href="{{ path('v2_panel_competition_user_edit_get',{"slug":competition.slug , "username":teamAthlete.username}) }}" type="button" data-athlete-name="{{ teamAthlete.name }}" data-athlete="{{ teamAthlete.id }}" data-competition="{{ competition.slug }}" class="btn bg-yellow btn-circle btn-circle-xs waves-effect waves-circle waves-float delete-team-athlete">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a href="{{ path('v2_panel_athlete_extra_data',{"slug":competition.slug , "username":teamAthlete.username}) }}" type="button" data-athlete-name="{{ teamAthlete.name }}" data-athlete="{{ teamAthlete.id }}" data-competition="{{ competition.slug }}" class="btn bg-yellow btn-circle btn-circle-xs waves-effect waves-circle waves-float delete-team-athlete" title="Editar Datos Extra">
                                        <i class="material-icons">more_horiz</i>
                                    </a>
                                    <button type="button" data-athlete-name="{{ teamAthlete.name }}" data-athlete="{{ teamAthlete.id }}" data-competition="{{ competition.slug }}" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float delete-team-athlete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <i class="material-icons col-green">person_add</i>
                            </td>
                            <td colspan="3">
                                <div class="form-group mb-0">
                                    <div class="form-line">
                                        <input type="text" id="add-team-athlete" class="form-control" placeholder=" Introduce el email o username del nuevo atleta">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" data-competition="{{ competition.slug }}" data-team="{{ team.slug }}" class="btn bg-green btn-circle btn-circle-xs waves-effect waves-circle waves-float add-team-athlete">
                                    <i class="material-icons">add</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}