{% set card_title="Equipo "~team.name %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h1>{{ card_title }}</h1>
                    <h2>Categroía {{ category.name }}</h2>
                </div>
                <div class="body">
                    <div class="alert alert-info">
                        <strong><i class="material-icons">info_outline</i></strong> Cualquier cambio sobre los miembros del equipo debe realizarse por  la competición.
                    </div>
                    <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-bInfo=false>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Box</th>
                            <th>Talla Camiseta</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teamAthlete in team.athletes %}
                            <tr>
                                <td>
                                    <i class="material-icons {{ loop.first?"col-red":"" }}">person</i>
                                </td>
                                <td>{{ teamAthlete.name }}</td>
                                <td>{{ teamAthlete.userExtension.boxName }}</td>
                                <td>{{ teamAthlete.userExtension.tShirtSize }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}