html {
    font-size: 14px;
    cursor: default!important;
}
.main_content{
    padding-top: 5vh;
}
div.competition div.competition-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
}
div.competition h2{
    display: inline-block;
    margin-top: 0px;
    font-size: 2.5em;
}
ul.competition-dropdown{
    float:right;
    display: inline-block;
    list-style: none;
}
aside#leftsidebar > div.top-brand > h2 {
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.7em;
    background-position-x: 0.5em;
}

div.menu ul li.competition-menu-option a {
    margin-left: 1em;
}
.sidebar .menu .list li.competition-menu-title a span {
    font-size: 18px;
    font-weight: bold;
}
.sidebar .menu .list li.competition-menu-title a span.competition-status-badge{
    color :#fff;
    font-size: x-small;
    display: inline-table;
}
div.menu ul li.competition-menu-title {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}
div.modal-header i.material-icons {
    top: 4px;
    position: relative;
}
.btn.btn-circle.waves-effect.waves-circle.waves-float:hover {
    opacity: 1;
    cursor: pointer;
    filter: none;
}
.btn.btn-circle.waves-effect.waves-circle.waves-float {
    opacity: 0.3;
    -webkit-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    cursor: pointer;
    transition: all 500ms ease;
    filter: grayscale(50%);
}
div.event-general ul li span {
    margin: 7px 0 7px 12px;
}
div.event-general ul li i {
    margin-top: 4px
}
.competition-background-image{
    height: 300px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div#competition-image {
    width: 100%;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.64);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-element{
    margin: auto;
}
div#competition-images div.competition-image{
    width: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;

}
div#competition-images div.competition-background-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
}
.sidebar .user-info {
    background: url("../../images/default/user-img-background.jpg") no-repeat no-repeat;
}
div.min-height{
    min-height: 40vh;
}
div.empty-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
}
div.stripe-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 8vh;
    width: 100%;
}
.preloader.pl-size-xxl {
    width: 150px;
    height: 150px;
}
.competition-text img {
    max-width: 60vw;
}
@media (max-width: 1200px) {
    .main_content {
        padding-top: 85px;
    }
    div.top-brand{
        margin-top: 85px;
    }
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none!important;
}
div.inline-flex{
    display: inline-flex;
}
label.display-block{
    display: block;
}
.alert strong i {
    font-size: 20px;
    position: relative;
    top: 3px;
}
span.filter-option {
    color: gray;
}