.competition-name{
    min-height: 8em;
    max-height: 8em;
    overflow: hidden;
}
.competition-image{
    width: 200px;
    height: 200px;
}
.competition-menu ul {
    background-color: white;
    border-top: 1px solid #f0f0f0;
}
.competition-menu > ul > li {
    border-right: 2px solid #f0f0f0;
}
.competition-menu > ul > li.selected {
    background-color: @primary-color;
}
.competition-menu > ul > li.selected > a {
    color: white;
}
.competition-menu > ul > li :hover {
    background-color: @primary-color;
    color: rgb(255, 255, 255);
}
.has-error > .help-block {
    color: @primary-color;
}
.has-error > label.control-label {
    color: @primary-color;
}
.user-action > a > button.btn {
    opacity: 0.4;
}
.user-action > a > button.btn:hover {
    opacity: 1;
}
.user-display .reduced > .photo {
    height: 200px;
}
.user-profile > .user-display.reduced > .bottom > .user-info > span {
    display: none
}
.user-profile > .user-display.reduced  > .photo {
    height: 100px;
}
li.visible-xs-block i.icon {
    font-size: xx-large;
    margin-right: 10px;
    margin-left: -6px;
    vertical-align: middle;
}
span#competition-name {
    font-size: larger;
    font-weight: 800;
}
span#competition-category-name {
    font-size: larger;
    font-weight: 800;
}
.am-top-header .navbar-collapse .am-user-nav > li.dropdown > a .user-name{
    display: inline;
}
.stripe-img{
    height: 1em;
}
textarea.note-codable {
    display: none;
}

div.user-avatar{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.64);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.user-profile .user-display .photo .competition-background-image{
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div.competition .photo .img div.competition-image {
    width: 100%;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.64);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.mt10vh{
    margin-top: 10vh;
}
.panel-image{
    max-width: 50vh;
    margin: auto;
}
.gallery-container .item {
    width: 32%;
    margin-bottom: 20px;
    padding: 0 10px;
    display: inline-block;
}
.color-white{
    color: #ffffff
}
.col-lg-12.competition-menu.submenu{
    margin-left:3%;
}
.am-left-sidebar .sidebar-elements > li > a span.display-inline-block{
    display: inline-block;
}