{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Crea tu competición!</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_errors(form.name) }}
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name,{"attr":{"class":"form-control"}}) }}
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    {{ form_widget(form.submit,{"attr":{"class":"btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}