
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="CrossFit, Gestor de Competiciones, Eventos, WODS, Horario, Leaderboard, Box">


        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ title }}">
        <meta itemprop="description" content="{{ description }}">
        <meta itemprop="image" content="{{ image }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="{{ app.request.uri|replace({'http': 'https'})  }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:creator" content="@author_handle">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{{ image }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{app.request.uri|replace({'http': 'https'}) }}" />
        <meta property="og:image" content="{{ image }}" />
        <meta property="og:description" content="{{ description }}" />