<div class="body">
    <div class="row">
        <a href="{{ path('v2_panel_heat_get_phase_create',{"slug":competition.slug,"phase_slug":competition.getAttendancePhase.slug}) }}" class="btn btn-primary waves-effect pull-right m-b-20 m-r-20">
            <i class="material-icons">grain</i>
            <span>Añadir Tandas</span>
        </a>
    </div>
    <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-competition="{{ competition.slug }}">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Fase</th>
            <th>Atletas</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for heat in heats %}
            <tr>
                <td>{{ heat.name }}</td>
                <td>{{ heat.athletes.first.category.name }}</td>
                <td>{{ heat.phase.name }}</td>
                <td>{{ heat.athletes.count }}</td>
                <td>
                    <a href="{{ path("v2_panel_heat_get_heat",{"slug":competition.slug,"phase_slug":heat.phase.slug,"heat_slug":heat.slug}) }}" class="btn bg-light-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                        <i class="material-icons">remove_red_eye</i>
                    </a>
                    <a href="{{ path("v2_panel_heat_get_phase_edit",{"slug":competition.slug,"phase_slug":heat.phase.slug,"heat_slug":heat.slug}) }}" class="btn bg-amber btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                        <i class="material-icons">edit</i>
                    </a>
                    <button data-heat="{{ heat.slug }}" data-phase="{{ heat.phase.slug }}" type="button" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float heat-delete">
                        <i class="material-icons">delete</i>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"  class="align-center">Crea tu primea tanda
                    <a href="{{ path('v2_panel_heat_get_phase_create',{"slug":competition.slug,"phase_slug":competition.getAttendancePhase.slug}) }}" class="btn btn-primary waves-effect m-l-20">
                        <i class="material-icons">grain</i>
                        <span>Añadir Tandas</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>