<div class="body">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>No hay fases presenciales</h2>
        </div>
        <div class="col-sm-6 col-sm-offset-2 hidden-xs">

        </div>
        <div class="col-sm-6 col-xs-12">
                <p>Las <i>Tandas</i> son un elemento exclusivo de las fases presenciales, que permiten forman los grupos de atletas
                    para que posteriormente sea mas sencillo por introducir sus resultados
                </p>
        </div>

    </div>
</div>