<div class="body">
    <h3>{{ heat.name }}</h3>
    <table class="table table-bordered table-striped table-hover js-datatable dataTable" data-competition="{{ competition.slug }}">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Fase</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for athlete in heat.athletes %}
            <tr>
                <td>{{ loop.index}}</td>
                <td>{{ athlete.name }}</td>
                <td>{{ athlete.category.name }}</td>
                <td>{{ phase.name }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"  class="align-center"> Heat sin atletas.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>