{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends "@BDSRWWeb/Front/Pages/skeleton.html.twig" %}
{% block content %}
    {% include "@BDSRWWeb/Front/Pages/register/components/register_hero.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/components/competition_nav.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/register/components/extra_data_register.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            $('.js-datepicker').datepicker({
                format: "dd/mm/yyyy",
                maxViewMode: 2,
                language: "es"
            });
        });
    </script>
{% endblock %}