{% extends "@BDSRWWeb/Front/Pages/skeleton.html.twig" %}
{% block content %}
    {% include "@BDSRWWeb/Front/Pages/register/components/register_hero.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/register/components/register_payment.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>

    {{ parent() }}
    <script type="application/javascript">
        var stripe = Stripe('{{ public_key }}');
    </script>
    {% javascripts output="js/front/stripe_index.js"
        "@BDSRWWebBundle/Resources/public/js/front/payment.js"
    %}
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}