{% extends "@BDSRWWeb/Front/Pages/skeleton.html.twig" %}
{% block content %}
    {% include "@BDSRWWeb/Front/Pages/register/components/thankyou_hero.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/components/competition_nav.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/register/components/thankyou_content.html.twig" %}
{% endblock %}