{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends "@BDSRWWeb/Skeleton/active_user_skeleton.html.twig" %}
{% block title %} Registro - RankWod{% endblock %}
{% block fos_user_content %}
            {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output="js/front/compiled_front_inputmask_out.js"
    '@BDSRWWebBundle/Resources/public/bower/jquery.inputmask/dist/jquery.inputmask.bundle.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="application/javascript">
        $(document).ready(function(){
            $("input#fos_user_registration_username").inputmask("Regex");
        });
    </script>
{% endblock %}