{% set card_title="Heats" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block content %}
        <div class="content-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                     <div class="header">
                            <h2>{{ card_title }}</h2>
                    </div>
                          {% for heat in heats %}
                            {% include "@BDSRWWeb/v2/competition/heats/body/heat_athlete_list.html.twig" %}
                          {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}