{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block content %}
        <div class="content-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4>Nombre de la Tanda</h4>
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            {{ form_widget(form.name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% for athlete in form.athletes %}
                                    {% if (loop.index0 % 3)==0  %}<div class="row">{% endif %}
                                    <div class="col-sm-4">
                                        {{ form_widget(athlete,{"attr":{"class":"chk-col-ligth-blue"} }) }}
                                        {{ form_label(athlete) }}
                                    </div>
                                    {% if ((loop.index % 3)==0) or loop.last  %}</div>{% endif %}
                            {% endfor %}

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
