<ul class="nav nav-tabs tab-col-tail" role="tablist">
        {% for key,measure in measure_names %}
            <li role="presentation">
                <a href="#event-tab-results-{{ key }}" data-toggle="tab" aria-expanded="false">
                    {% if loop.length>1 %}
                        Resultado #{{ measure }}
                    {% else %}
                        Resultados
                    {% endif %}

                </a>
            </li>
        {% endfor %}
</ul>