<script type="text/javascript">
    $(function() {
        {% spaceless %}{% for flash in app.session.flashbag.get('noty') %}
        {% if not loop.first %}
        setTimeout(function() {
            {% endif %}
            new Noty(
                {
                    layout: 'topCenter',
                    theme: 'metroui',
                    animation: {
                        open: 'animated fadeInDown', // Animate.css class names
                        close: 'animated fadeOutUp' // Animate.css class names
                    },
                    text: '{{ flash["message"] }}',
                    type: '{{ flash["type"] }}',
                    timeout: 1000
                }
            ).show();
            {% if not loop.first %}
        },{{ loop.index * 500 }});
        {% endif %}
        {% endfor %}{% endspaceless %}
    });

</script>