{% if competition is defined %}
    {% include "@BDSRWWeb/Front/Pages/components/seo/competition_seo.html.twig" %}
{% else %}
    {% include "@BDSRWWeb/Front/Pages/components/seo/general_seo.html.twig" %}
{% endif %}