<div role="tabpanel" class="tab-pane fade active in" id="event-tab-general">
    <div>
        <span>Han publicado su resultado <strong>{{ event.results.count/event.measureGroups.count }}</strong> de <strong>{{ event.phase|phase_athletes }}</strong> Atletas</span>
        <div class="progress">
            {% set percentage=(((event.results.count/(event.phase|phase_athletes))*100)|round) %}
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%">
                <span class="sr-only">{{ percentage }}% Complete</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-9 event-general">
            <h4 class="h4">{{ event.name }}</h4>
            <ul class="list-unstyled">
                <li><i class="material-icons">access_time</i> <span>Fecha Publicación</span>{{ event.publishedAt|custom_date }}</li>
                <li><i class="material-icons">access_time</i> <span>Fecha Límite </span>{{ event.limitDate|custom_date }}</li>
            </ul>
            {% if event.videoUrl %}
                <div class="video-holder embed-responsive embed-responsive-16by9">
                    <iframe src="{{ event.videoUrl }}" class="embed-responsive-item"></iframe>
                </div><!-- End .video-holder-->
                <br><br><br>
            {% endif %}
            <div class="jumbotron">
                <p>
                    {{ event.text|raw }}
                </p>
            </div>

            <hr>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="text-center">
                <a {% if event.published %}
                        target="_blank" href="{{ path('front_competition_event',{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug}) }}"
                {% else %}
                    disabled=""
                {% endif %}
                        type="button" class="btn btn-primary waves-effect">
                    <i class="material-icons">language</i>
                    <span>Página Evento</span>
                </a>
            </div>

            <div class="text-center">
                <h5>Evento Publicado</h5>
                <div class="switch">
                    <label><input type="checkbox" {% if event.isPublished %}checked=""{% endif %}><span class="lever switch-col-blue"></span></label>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <a {% if event.sortable %}
                    target="_blank" href="{{ path('front_competition_results',{"slug":competition.slug}) }}"
                {% else %}
                    disabled=""
                {% endif %}
                        type="button" class="btn btn-primary waves-effect">
                    <i class="material-icons">line_weight</i>
                    <span>Página Resultados</span>
                </a>
            </div>
            <div class="text-center">
                <h5>Resultados Publicados</h5>
                <div class="switch">
                    <label><input type="checkbox" {% if event.sortable %}checked=""{% endif %}><span class="lever switch-col-blue"></span></label>
                </div>
            </div>
        </div>
    </div>
</div>