<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-datatable dataTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Ronda</th>
            {% for event in phase.events %}
                <th>{{ event.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for round in event.rounds %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ round.name }}
                </td>
                {% for event in phase.events %}
                <td>
                    <a href="{{ path('v2_panel_heat_result_get',{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug,"round_slug":round.slug}) }}" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                        <i class="material-icons">visibility</i>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>