        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-datatable dataTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Atleta</th>
                    <th>Box</th>
                    <th>Workout</th>
                    <th>Video</th>
                    <th>Status</th>
                    <th>Result</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for result in judge.workouts %}
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                {{ result.athlete.name }}
                            </td>
                            <td>
                                {{ result.athlete.box }}
                            </td>
                            <td>
                                {{ result.event.name }}
                            </td>
                            <td>
                                <a href="{{ result.videoUrl }}" target="_blank" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                    <i class="material-icons">visibility</i>
                                </a>
                            </td>
                            <td>
                                {% if result.corrected %}
                                    <span class="badge bg-green">Corregido</span>
                                {% else %}
                                    <span class="badge bg-grey">Pendiente</span>
                                {% endif %}
                            </td>
                            <td>
                                {% set results=get_athlete_event_results(result.athlete,result.event) %}
                                {% for short_result in results %}
                                    {{ short_result|wod_result }} ({{ short_result.tieBreaker }})
                                    {% if (loop.length>1 and (not loop.last)) %}
                                        ||
                                    {% endif %}
                                {% else %}
                                    #
                                {% endfor %}
                            </td>
                            <td>
                                {% if (not result.corrected) and (results|length >0) %}
                                    <button data-competition="{{ competition.slug }}"  data-phase="{{ result.event.phase.slug }}" data-event="{{ result.event.slug }}" data-athlete="{{ result.athlete.id }}" type="button" class="btn bg-green btn-circle btn-circle-xs waves-effect waves-circle waves-float event-result-judge-validate">
                                        <i class="material-icons">check</i>
                                    </button>
                                {% endif %}
                                {% if results|length ==0 %}
                                    <button data-competition="{{ competition.slug }}"  data-phase="{{ result.event.phase.slug }}" data-event="{{ result.event.slug }}" data-athlete="{{ result.athlete.id }}" type="button" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float  event-result-judge-edit">
                                        <i class="material-icons">add</i>
                                    </button>
                                {% else %}
                                    <button data-competition="{{ competition.slug }}"  data-phase="{{ result.event.phase.slug }}" data-event="{{ result.event.slug }}" data-athlete="{{ result.athlete.id }}" type="button" class="btn bg-amber btn-circle btn-circle-xs waves-effect waves-circle waves-float event-result-judge-edit">
                                        <i class="material-icons">edit</i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
