        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-datatable dataTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Juez</th>
                    <th>Juzgados</th>
                    <th>Pendientes</th>
                </tr>
                </thead>
                <tbody>
                    {% for judge in judges.judges %}
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                {{ judges.users[judge['user_id']].name }}
                            </td>
                            <td>
                                {% if corrected[judge['judge_id']] is defined %}
                                {{ corrected[judge['judge_id']].corrected }}
                                {% else  %}
                                    0
                                {% endif %}
                            </td>
                            <td>
                                {% if pending[judge['judge_id']] is defined %}
                                {{ pending[judge['judge_id']].pending }}
                                {% else  %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
