{% set keys=measure_names|keys %}
<div>
    <ul class="nav nav-tabs tab-nav-right tab-col-pink" role="tablist">
        {% for category in phase.categories %}
            <li role="presentation" {% if loop.first %}class="active"{% endif %}><a href="#categories-{{ category.slug }}" data-toggle="tab">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for category in phase.categories %}
            <div role="tabpanel" class="tab-pane fade {% if loop.first %} in active {% endif %}" id="categories-{{ category.slug }}">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-datatable dataTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Overall #</th>
                            <th>Atleta</th>
                            <th>Box</th>
                            <th>Jueces Asignados</th>
                            <th>Revisado</th>
                            <th>Asignar</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for result in results[keys[0]][category.slug] %}
                            {% set name=result.athlete_name?:athletes.users[athlete.user_id].name %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {{ key_index(overall[category.slug],result.athlete_id) }}
                                </td>
                                <td>
                                    {{ name }}
                                </td>
                                <td>
                                    {{ result.box_name }}
                                </td>
                                <td>
                                    {% if judged_athletes[result.athlete_id] is defined %}
                                        {% for judge in judged_athletes[result.athlete_id] %}
                                        <span>
                                            {{ judges.users[judge.user_id].name }}
                                            <button type="button" data-competition="{{ competition.slug }}" data-judge="{{ judge.judge_id }}" data-result="{{ result.result_id }}" class="unassign-result btn bg-red btn-circle-xs btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </span>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if result.corrected %}
                                        <span class="badge bg-green">Corregido</span>
                                    {% else %}
                                        <span class="badge bg-grey">Pendiente</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <input type="checkbox" id="{{ result.athlete_id }}" name="judge_events" class="filled-in chk-col-light-green" value="{{ result.athlete_id }}">
                                    <label for="{{ result.athlete_id }}"></label>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
</div>