{% extends "@BDSRWWeb/Front/Pages/skeleton.html.twig" %}
{% block content %}
    {% include "@BDSRWWeb/Front/Pages/workouts/components/events_hero.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/components/competition_nav.html.twig" %}
    {% include "@BDSRWWeb/Front/Pages/workouts/components/events.html.twig" %}
{% endblock %}