<div role="tabpanel" class="tab-pane fade" id="event-tab-heats">
    {% for round in phase.rounds %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('v2_panel_heat_result_get',{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug,"round_slug":round.slug}) }}">Haz click aquí para introducir los resultados de la tanda <strong>{{ round.name }}</strong></a>
        </div>
    </div>
    {% else %}
    <p> Puedes crear tus Tandas para introducir facilmente los resultados desde <a href="{{ path("v2_panel_heat_get",{"slug":competition.slug}) }}">aquí</a></p>
    {% endfor %}
</div>