{% for key,measure in measure_names %}
<div role="tabpanel" class="tab-pane fade" id="event-tab-results-{{ key }}">
    <ul class="nav nav-tabs tab-nav-right tab-col-pink" role="tablist">
        {% for category in phase.categories %}
            <li role="presentation" {% if loop.first %}class="active"{% endif %}><a href="#categories-{{ key }}-{{ category.slug }}" data-toggle="tab">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for category in phase.categories %}
            <div role="tabpanel" class="tab-pane fade {% if loop.first %} in active {% endif %}" id="categories-{{ key }}-{{ category.slug }}">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-datatable dataTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Atleta</th>
                            <th>Box</th>
                            {% if phase.requiresVideo %}
                            <th>Video</th>
                            {% endif %}
                            <th>Revisado</th>
                            <th>Resultado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for result in results[key][category.slug] %}
                                {% if result.team_name %}
                                    {% set name=result.team_name %}
                                {% else %}
                                    {% set name=result.athlete_name?:athletes.users[result.user_id].name %}
                                {% endif %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td>
                                        {{ name }}
                                    </td>
                                    <td>
                                        {{ result.box_name }}
                                    </td>
                                    {% if phase.requiresVideo %}
                                        <td>
                                            <a href="{{ result.video }}" target="_blank" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                        </td>
                                    {% endif %}
                                    <td>
                                        {% if result.corrected %}
                                            <span class="badge bg-green">Corregido</span>
                                        {% else %}
                                            <span class="badge bg-grey">Pendiente</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if result.without_result is not defined %}
                                            {{ result.result|json_result(result.type) }}
                                        {% else %}
                                            #
                                        {% endif %}

                                    </td>
                                    <td>
                                        {% if (not result.corrected) and (result.without_result is not defined) %}
                                        <button data-athlete="{{ result.athlete_id }}" type="button" class="btn bg-green btn-circle btn-circle-xs waves-effect waves-circle waves-float event-result-validate">
                                            <i class="material-icons">check</i>
                                        </button>
                                        {% endif %}
                                        {% if result.without_result is defined %}
                                            <button data-athlete="{{ result.athlete_id }}" type="button" class="btn bg-blue btn-circle btn-circle-xs waves-effect waves-circle waves-float  event-result-edit">
                                                <i class="material-icons">add</i>
                                            </button>
                                        {% else %}
                                            <button data-athlete="{{ result.athlete_id }}" type="button" class="btn bg-amber btn-circle btn-circle-xs waves-effect waves-circle waves-float event-result-edit">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button data-athlete="{{ result.athlete_id }}" type="button" class="btn bg-red btn-circle btn-circle-xs waves-effect waves-circle waves-float event-result-delete">
                                                <i class="material-icons">delete_forever</i>
                                            </button>
                                        {% endif %}

                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}