{% stylesheets filter="cssrewrite" output="css/compiled_panel_select2_out.css"
"bundles/bdsrwweb/bower/select2/dist/css/select2.css"
"bundles/bdsrwweb/bower/select2-bootstrap-theme/dist/select2-bootstrap.css"
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}