{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
<div class="content-fluid">
    <div class="row clearfix">
        <div class="col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Editar Cuenta</h2>
                    {% if user != app.user %}
                        {% if user.lastLogin and true %}
                            <div class="alert alert-warning">
                                <strong>Atención!</strong> Este usuario ya se ha loggeado, por tanto  <strong>solo él</strong> puede realizar cambios en su cuenta.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_start(form) }}
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.firstName) }}
                                    {{ form_label(form.firstName) }}
                                    {{ form_widget(form.firstName) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.lastName) }}
                                    {{ form_label(form.lastName) }}
                                    {{ form_widget(form.lastName) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.username) }}
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.email) }}
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.dateBirth) }}
                                    {{ form_label(form.dateBirth) }}
                                    {{ form_widget(form.dateBirth) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.gender) }}
                                    {{ form_label(form.gender) }}
                                    {{ form_widget(form.gender) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.telephone) }}
                                    {{ form_label(form.telephone) }}
                                    {{ form_widget(form.telephone) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_errors(form.dni) }}
                                    {{ form_label(form.dni) }}
                                    {{ form_widget(form.dni) }}
                                </div>
                            </div>
                            {{ form_widget(form.submit) }}
                            <a href="javascript:history.back()" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}