{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
<div class="content-fluid">
    <div class="row clearfix">
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Cambiar contraseña</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_start(form) }}
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_label(form.old_password) }}
                                    {{ form_errors(form.old_password) }}
                                    {{ form_widget(form.old_password,{"attr":{"class":"form-control"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_label(form.plain_password.first) }}
                                    {{ form_errors(form.plain_password.first) }}
                                    {{ form_widget(form.plain_password.first,{"attr":{"class":"form-control"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_label(form.plain_password.second) }}
                                    {{ form_errors(form.plain_password.second) }}
                                    {{ form_widget(form.plain_password.second,{"attr":{"class":"form-control"}}) }}
                                </div>
                            </div>
                            {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                            <a href="{{ path("v2_get_dashboard_get_profile") }}" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}