{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
<div class="content-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Mi Perfil</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <h3>Mis Datos <small>
                                    <a href="{% spaceless %}
                                            {% if app.user == user %}
                                            {{ path("v2_get_dashboard_edit_profile") }}
                                            {% else %}
                                            {{ path("v2_get_panel_admin_user_edit",{'username':user.username}) }}
                                            {% endif %}
                                            {% endspaceless %}"><i class="col-amber material-icons">mode_edit</i></a>
                                </small>
                            </h3>
                            <table class="table table-condensed">
                                <tbody class="no-border-x no-border-y">
                                <tr>
                                    <td class="item">Nombre:</td>
                                    <td>{{ user.completeName }}</td>
                                </tr>
                                <tr>
                                    <td class="item">Nombre de usuario:</td>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td class="item">Cumpleaños:</td>
                                    <td>{{ user.dateBirth|translated_date }}</td>
                                </tr>
                                <tr>
                                    {% if app.user.isSuperAdmin %}
                                        <td class="item">Email:</td>
                                        <td>{{ user.email }}</td>
                                    {% endif %}
                                </tr>
                                {% if app.user == user %}
                                    <tr>
                                        <td colspan="2" class="text-center"><a href="{{ path("v2_get_dashboard_edit_password_profile") }}" class="btn btn-warning"><i class="fa fa-key"></i> Actualizar Contraseña</a></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% set box=user|get_user_box %}
                        <div class="col-md-4 col-sm-12">
                            <h3>Mi Box  {% if box %}<a class="pull-right" href="{{ path("v2_get_panel_cancel_box") }}"> <i class="col-red material-icons">cancel</i></a>{% endif %}</h3>
                            {% if box%}
                                <table class="table table-condensed">
                                    <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="item">Nombre:</td>
                                        <td>{{ box.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="item">Conócenos:</td>
                                        <td><p>{{ box.text|raw}}</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% else %}
                                {% set form=get_athelte_box_form() %}
                                {{ form(form) }}
                                <div class="alert alert-warning alert-dismissible m-t-40" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    Si tu <strong>Box</strong> no sale en este listado, escríbenos a <a href="mailto:{{ license.contactEmail }}">{{ license.contactEmail }}</a>.
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}