<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {{ license.name }} {% endblock %}</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
    {% block stylesheets  %}
        {% stylesheets filter="cssrewrite" output="css/compiled_user_out_18112016.css"
        "bundles/bdsrwweb/bower/bootstrap/dist/css/bootstrap.css"
        "bundles/bdsrwweb/bower/font-awesome/css/font-awesome.css"
        "bundles/bdsrwweb/css/login/layout.css"
        "bundles/bdsrwweb/css/login/elements.css"
        "bundles/bdsrwweb/css/login/custom.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}
</head>
<body id="login-page">
{% block body %}
    <div class="container">
        {% block content %}
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-xs-12">
                <div id="login-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="login-box-inner">
                                <!-- <img src="img/logo-login.png" alt="SuperheroAdmin" class="img-responsive" id="login-logo"/> -->
                                <div id="login-logo">
                                    <img src="{{ asset('bundles/bdsrwweb/img/'~license.slug~'/icons//apple-icon-180x180.png')}}" alt="{{ license.name }}"/><br />
                                    <span class="crossfit_font">{{ license.name }}</span>
                                </div>
                                <div class="hide">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                                    {% endif %}
                                </div>
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts output="js/compiled_user_out_18112016.js"
    '@BDSRWWebBundle/Resources/public/bower/jquery/dist/jquery.js'
    '@BDSRWWebBundle/Resources/public/bower/bootstrap/dist/js/bootstrap.js'
    '@BDSRWWebBundle/Resources/public/bower/jquery-backstretch/jquery.backstretch.js'
    '@BDSRWWebBundle/Resources/public/js/script.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
      <script type="application/javascript">
          {
              {% set image=asset("bundles/bdsrwweb/images/sara_ffc.jpg"|bds_imagine_filter_big) %}
            $(function() {
            $.backstretch("{{ image|raw }}");
          });

      }
    </script>
{% endblock %}


</body>
</html>