<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="es">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ license.name }} - Sistema de Gestión de Competiciones de CrossFit. Con {{ license.name }} podrás crear, organizar, editar, compartir y disfrutar de las competiciones de crossfit, de forma barata y funcional." />
<meta name="keywords" content="{{ license.name }} CrossFit Competicion Evento Categoria Barato"/>
<meta name="author" content="RoninFox" />

<title>{% block title %}{{ license.name }}{% endblock %}</title>
<!--Fav and touch icons-->
{% include "@BDSRWWeb/Skeleton/icons.html.twig" %}
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' >
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arizonia">
	{% block stylesheets  %}
		{% stylesheets filter="cssrewrite" output="css/front/compiled_front_out_18112016.css"
		"bundles/bdsrwweb/bower/bootstrap/dist/css/bootstrap.css"
		"bundles/bdsrwweb/css/front/metrofontpack.css"
		"bundles/bdsrwweb/css/front/font-awesome/font-awesome.min.css"
		"bundles/bdsrwweb/css/front/animate.css"
		"bundles/bdsrwweb/css/front/styles.css"
		"bundles/bdsrwweb/fonts/fontello/css/fontello.css"
		"bundles/bdsrwweb/css/front/owl.carousel.css"
		"bundles/bdsrwweb/css/front/owl.theme.css"
		"bundles/bdsrwweb/css/front/colors/color-red.css"
		"bundles/bdsrwweb/css/front/front.css"
		"bundles/bdsrwweb/css/front/responsive.css"
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

	{% endblock %}
	{% include "@BDSRWWeb/Skeleton/Blocks/analytics.html.twig" %}
</head>
<body>
<!-- Preloader -->
	<div class="mask">
		<div class="loader-item fa fa-spin loader-color">
		</div>
	</div>
<!-- Preloader end -->
{% block front_header %}
{% include '@BDSRWWeb/Front/HomeSection/home_section.html.twig' %}
{% endblock %}
<!-- Nav -->
{% block front_menu %}
{% include '@BDSRWWeb/Front/Menu/index_menu.html.twig' %}
{% endblock %}
<!-- Nav Ends -->
{% block front_content %}
{% endblock %}
{% block footer %}
<footer>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-xs-12">
					<p class="copyright">&copy; Copyright 2016 {{ license.name }}</p>
				</div><!-- end .col-md-6 col-xs-12 -->
				<div class="col-md-6 col-xs-12">
					<ul class="social">
						<li><a class="facebook" target="_blank" href="https://www.facebook.com/{{ slug }}"></a></li>
					</ul><!-- end .social -->
				</div><!-- end .col-md-6 col-xs-12 -->
			</div><!-- end .row -->
		</div><!-- end .container -->
	</div><!-- end .footer-bottom -->
</footer>
{% endblock %}
<!--JavaScript-->
{% block javascripts %}
	{% javascripts output="js/front/compiled_front_out_18112016.js"
	'@BDSRWWebBundle/Resources/public/bower/jquery/dist/jquery.js'
	'@BDSRWWebBundle/Resources/public/bower/bootstrap/dist/js/bootstrap.js'
	'@BDSRWWebBundle/Resources/public/bower/jquery-form/dist/jquery.form.min.js'
	'@BDSRWWebBundle/Resources/public/js/front/scripts.js'

	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
<!-- Scroll Top -->
  <a class="scroll-top" href="#" title="Scroll to top"><i class="fa-chevron-up"></i></a>
</body>
</html>