<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}{{ license.name }}{% endblock %}</title>
    <!--Fav and touch icons-->
    {% include "@BDSRWWeb/Skeleton/icons.html.twig" %}
    {% include "@BDSRWWeb/Skeleton/Blocks/analytics.html.twig" %}
    {% include "@BDSRWWeb/Skeleton/Blocks/facebook.html.twig" %}
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="RoninFox">
    <meta name="title" content="{{ license.name }} - Sistema de gestión de competiciones de CrossFit">
    <meta name="description" content="{{ license.name }} es un sistema de competiciones de CrossFit pensado para facilitarte la vida a la hora de crear y gestionar tus competiciones de CrossFit.">

    <!-- LOADING FONTS AND ICONS -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,100" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    {% block stylesheets  %}
        {% stylesheets filter="cssrewrite" output="css/front/compiled_front_2_out_18112016.css"
        "bundles/bdsrwweb/bower/bootstrap/dist/css/bootstrap.css"
        "bundles/bdsrwweb/bower/font-awesome/css/font-awesome.css"
        "bundles/bdsrwweb/plugins/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css"
        "bundles/bdsrwweb/plugins/revolution-slider/revolution/css/settings.css"
        "bundles/bdsrwweb/plugins/revolution-slider/revolution/css/layers.css"
        "bundles/bdsrwweb/plugins/revolution-slider/revolution/css/navigation.css"
        "bundles/bdsrwweb/plugins/revolution-slider/assets/css/noneed.css"
        "bundles/bdsrwweb/plugins/revolution-slider/assets/css/style.css"
        "bundles/bdsrwweb/plugins/revolution-slider/assets/css/custom.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}
</head>

<body>

{% block content %}
    {% include "@BDSRWWeb/Front/Index/index-dark.html.twig" %}
{% endblock %}
{% block javascripts %}
    {% javascripts output="js/front/compiled_front_2_out_18112016.js"
    '@BDSRWWebBundle/Resources/public/bower/jquery/dist/jquery.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js'
    '@BDSRWWebBundle/Resources/public/plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js'
    '@BDSRWWebBundle/Resources/public/js/front/jquery.form-min.js'

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var tpj=jQuery;
        var revapi66;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_66_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_66_1");
            }else{
                revapi66 = tpj("#rev_slider_66_1").show().revolution({
                    sliderType:"standard",
                    jsFileLocation:"../../revolution/js/",
                    sliderLayout:"fullscreen",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"on",
                        keyboard_direction: "vertical",
                        mouseScrollNavigation:"on",
                        onHoverStop:"off",
                        touch:{
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "vertical",
                            drag_block_vertical: false
                        }
                    },
                    responsiveLevels:[1240,1024,778,480],
                    gridwidth:[1400,1240,778,480],
                    gridheight:[868,768,960,720],
                    lazyType:"none",
                    shadow:0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops:0,
                    stopAtSlide:1,
                    shuffle:"off",
                    autoHeight:"off",
                    fullScreenAlignForce:"off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });	/*ready*/
    </script>
{% endblock %}
</body>
</html>
