<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include "@BDSRWWeb/Skeleton/icons.html.twig" %}

    <title>{% block title %}{{ license.name }}{% endblock %}</title>
    {% block stylesheets  %}
        {% stylesheets filter="cssrewrite" output="css/rw_panel.css"
        "bundles/bdsrwweb/bower/font-awesome/css/font-awesome.css"
        "bundles/bdsrwweb/bower/bootstrap-tagsinput/src/bootstrap-tagsinput.css"
        "bundles/bdsrwweb/bower/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
        "bundles/bdsrwweb/bower/summernote/dist/summernote.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
<div class="am-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        {% block topMenu %}
            {% include "@BDSRWWeb/Skeleton/Blocks/topMenu.html.twig" %}
        {% endblock %}
    </nav>
    <div class="am-left-sidebar">
        {% block leftMenu %}
            {% include "@BDSRWWeb/Skeleton/Blocks/leftMenu.html.twig" %}
        {% endblock %}
    </div>
    <div class="am-content">
        {% if "@" in  app.user.firstName %}
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-xs-12 mt10vh">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div role="alert" class="alert alert-warning alert-icon alert-border-color">
                                <div class="icon"><span class="s7-attention"></span></div>
                                <div class="message">
                                    Ya puedes cambiar tu nombre haciendo click <strong><a href="{{ path("get_dashboard_edit_profile") }}">AQUI!</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
        {% block content %}
                {% include "@BDSRWWeb/Skeleton/Blocks/content.html.twig" %}
        {% endblock %}
    </div>
    {#<nav class="am-right-sidebar">#}
        {#{% block right %}#}
            {#{% include "@BDSRWWeb/Skeleton/Blocks/rightMenu.html.twig" %}#}
        {#{% endblock %}#}
    {#</nav>#}
</div>
{% block javascripts %}
    {% javascripts output="js/rw_panel.js"
    '@BDSRWWebBundle/Resources/public/bower/handlebars/handlebars.js'
    '@BDSRWWebBundle/Resources/public/js/handlebars/handlebars_out.js'
    '@BDSRWWebBundle/Resources/public/js/panel/handlebars_base.js'
    '@BDSRWWebBundle/Resources/public/bower/jquery/dist/jquery.js'
    '@BDSRWWebBundle/Resources/public/bower/bootstrap/dist/js/bootstrap.js'
    '@BDSRWWebBundle/Resources/public/bower/nanoscroller/bin/javascripts/jquery.nanoscroller.js'
    '@BDSRWWebBundle/Resources/public/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.js'
    '@BDSRWWebBundle/Resources/public/bower/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    '@BDSRWWebBundle/Resources/public/bower/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js'
    '@BDSRWWebBundle/Resources/public/bower/noty/lib/noty.js'
    '@BDSRWWebBundle/Resources/public/js/panel/noty_base.js'
    '@BDSRWWebBundle/Resources/public/bower/raphael/raphael.js'
    '@BDSRWWebBundle/Resources/public/bower/morris.js/morris.js'
    '@BDSRWWebBundle/Resources/public/bower/moment/min/moment-with-locales.js'
    '@BDSRWWebBundle/Resources/public/bower/countUp.js/countUp.js'
    '@BDSRWWebBundle/Resources/public/bower/dropzone/dist/dropzone.js'
    '@BDSRWWebBundle/Resources/public/js/panel/dropzone_options.js'
    '@BDSRWWebBundle/Resources/public/js/panel/panel.js'
    '@BDSRWWebBundle/Resources/public/js/panel/main.js'
    '@BDSRWWebBundle/Resources/public/js/panel/panel_calls.js'
    '@BDSRWWebBundle/Resources/public/js/panel/competition_calls.js'
    '@BDSRWWebBundle/Resources/public/js/panel/competition_category_calls.js'
    '@BDSRWWebBundle/Resources/public/js/panel/athletesadminjudgesbots.js'
    '@BDSRWWebBundle/Resources/public/js/panel/phase_edit.js'
    '@BDSRWWebBundle/Resources/public/js/panel/register.js'
    '@FOSJsRoutingBundle/Resources/public/js/router.js'
    '@BDSRWWebBundle/Resources/public/js/Routes/routes.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<script type="text/javascript">
    $(document).ready(function(){
        //initialize the javascript
        App.init();
    });
</script>
{# NOTY For Everything #}
<script type="text/javascript">
    $(document).ready(function() {
        {% spaceless %}{% for flash in app.session.flashbag.get('noty') %}
        {% if not loop.first %}
            setTimeout(function() {
        {% endif %}
                noty(
                        {
                            layout: 'topCenter',
                            text: '{{ flash["message"] }}',
                            type: '{{ flash["type"] }}',
                            timeout: 1000
                        }
                );
        {% if not loop.first %}
            },{{ loop.index * 500 }});
        {% endif %}
        {% endfor %}{% endspaceless %}
    });
</script>
</body>
</html>