<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block seo %}
	{% endblock %}
	<title>{% block title %}{{ license.name }} {% endblock %}</title>
	<!--Fav and touch icons-->
	{% include "@BDSRWWeb/Skeleton/icons.html.twig" %}
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' >
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arizonia">
	{% block stylesheets  %}
		{% stylesheets filter="cssrewrite" output="css/front/results_out.css"
		"bundles/bdsrwweb/bower/bootstrap/dist/css/bootstrap.css"
		"bundles/bdsrwweb/css/front/metrofontpack.css"
		"bundles/bdsrwweb/css/front/font-awesome/font-awesome.min.css"
		"bundles/bdsrwweb/plugins/sweetalert/sweetalert.css"
		"bundles/bdsrwweb/fonts/fontello/css/fontello.css"
		"bundles/bdsrwweb/css/front/result_styles.css"
		"bundles/bdsrwweb/css/front/animate.css"
		"bundles/bdsrwweb/css/front/colors/color-result-red.css"
		"bundles/bdsrwweb/css/front/results.css"
		"bundles/bdsrwweb/css/front/responsive.css"
		"bundles/bdsrwweb/css/front/helper.css"
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endblock %}
	{% include "@BDSRWWeb/Skeleton/Blocks/analytics.html.twig" %}
</head>
<body>
<!-- Preloader -->
<div class="mask">
	<div class="loader-item fa fa-spin loader-color">
	</div>
</div>
<!-- Preloader end -->
<!-- Section : Home -->
{% block home %}

{% endblock %}

{% block section %}

{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		var token='{{ license.name }}';
	</script>
	<script
			src="https://code.jquery.com/jquery-2.2.4.js"
			integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			crossorigin="anonymous"></script>
	{% javascripts output="js/front/compiled_results_out.js"
	'@BDSRWWebBundle/Resources/public/bower/jquery.appear/jquery.appear.js'
	'@BDSRWWebBundle/Resources/public/bower/bootstrap/dist/js/bootstrap.js'
	'@BDSRWWebBundle/Resources/public/plugins/sweetalert/sweetalert.min.js'
	'@BDSRWWebBundle/Resources/public/bower/jquery-form/dist/jquery.form.min.js'
	'@BDSRWWebBundle/Resources/public/bower/moment/min/moment-with-locales.js'
    '@BDSRWWebBundle/Resources/public/bower/handlebars/handlebars.js'
    '@BDSRWWebBundle/Resources/public/js/handlebars/handlebars_out.js'
    '@BDSRWWebBundle/Resources/public/js/panel/handlebars_base.js'
	'@BDSRWWebBundle/Resources/public/js/front/scripts.js'
	'@BDSRWWebBundle/Resources/public/js/front/register/payment.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
<!-- Scroll Top -->
{#<a class="scroll-top" href="#" title="Scroll to top"><i class="fa-chevron-up"></i></a>#}
</body>
</html>