{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    {% for phase in phases %}
        {% set competition=phase.competition %}
        {% set categoryAthlete=app.user|find_athlete(phase) %}
        {% set userExtension=app.user|get_user_extension %}
        {% set needs_extra=  (categoryAthlete?(not (competition|is_athlete_complete(categoryAthlete,categoryAthlete.getUserExtension))):false) %}
        {% set payment_need= (categoryAthlete?(categoryAthlete|athlete_has_to_pay):false) %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if needs_extra %}
                {% set path=path('front_post_competition_register_extra_get',{ "slug":competition.slug, "phase_slug":phase.slug, "category_slug":categoryAthlete.category.slug}) %}
            {% elseif payment_need %}
                {% set path=path('front_competition_register_payment',{ "slug":competition.slug, "phase_slug":phase.slug, "category_slug":categoryAthlete.category.slug}) %}
            {% else %}
                {% set path=path('v2_panel_competition',{"slug":competition.slug}) %}
            {% endif %}
            <a href="{{ path }}">
            <div class="card">
                <div class="body">
                    <div class="row competition">
                        <div class="col-lg-4 competition-image"
                             {% if competition.image %}
                                 style="background-image: url({{ asset(competition.image|bds_imagine_filter_small) }})"
                             {% else %}
                                style="background-image: url({{ asset('bundles/bdsrwweb/images/default_competition.jpg'|bds_imagine_filter_small) }})"
                             {% endif %}>
                                <span class="badge {{ competition.publish|competition_status_class }} ">{{ competition.publish|competition_status_copy }}</span>
                        </div>
                        <div class="col-lg-8">
                            <h2>{{ competition.name }}</h2>
                            <div class="clearfix"></div>
                            <div class="row">
                                    <div class="col-xs-12">
                                        <h4>Fase {{ phase.name }}</h4>
                                    </div>
                            </div>

                            {% if needs_extra or payment_need %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-warning">
                                            <strong>Ojo!</strong>
                                            {% if needs_extra %}
                                                Debes completar tus datos antes de estar 100% inscrito.
                                            {% else %}
                                                Debes completar tus pago antes de estar 100% inscrito.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if competition.hasOngoingEvents %}
                            <div class="col-xs-12 hidden-lg">
                                <a href="{{ path("v2_panel_workout",{"slug":competition.slug}) }}" class="btn btn-block bg-light-blue">
                                    <i class="material-icons">fitness_center</i>
                                    Workouts
                                </a>
                            </div>
                        {% endif %}
                        {% if competition.hasResults %}
                            <div class="col-xs-12 hidden-lg">
                                <a href="{{ path("front_competition_results",{"slug":competition.slug}) }}" target="_blank " class="btn btn-block bg-deep-orange">
                                    <i class="material-icons">line_weight</i>
                                    Clasificación
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            </a>

        </div>
    </div>
    {% else %}
        {% include "@BDSRWWeb/v2/competition/empty/competition_empty.html.twig" %}
    {% endfor %}
{% endblock %}