{% set image=competition.image?competition.image.filePath:"bundles/bdsrwweb/images/default_competition.jpg" %}
<div class="row g-pt-80">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1 class="text-center">{{ competition.name }}</h1>
    </div>
</div>
<div class="row g-pt-80">
    <div class="col-md-12 col-lg-2 offset-lg-2">
        <img class="img-fluid" src="{{ asset(image|bds_imagine_filter_medium) }}" alt="{{ competition.name }}">
    </div>
    <div class="col-md-12 col-lg-6">
        <p>{{ (competition.text|default("Aún no se ha publicado una descripción de esta competición"))|raw }}</p>
    </div>
</div>