{% set background_image=competition.backgroundImage?competition.backgroundImage.filePath:'bundles/bdsrwweb/images/index/chv2.jpg' %}
<section class="g-py-200--md g-py-10 g-py-80--xl g-height-35vh hero-parallax" style="background-image: url('{{ asset(background_image|bds_imagine_filter_big) }}');">
    <div class="container text-center">
        <h1 class="text-uppercase g-font-weight-600 g-mb-20">{{ competition.name }}</h1>
    </div>
</section>