<div id="competition-images">
    <div class="competition-background-image"
            {% spaceless %}
                    {% if competition.hasBackgroundImage %}
                        style="background-image: url('{{ asset(competition.backgroundImage|bds_imagine_filter_medium) }}?V0.{{ competition.image.id }}')"
                    {% else %}
                        style="background-image: url('{{ asset('bundles/bdsrwweb/images/sara_ffc.jpg'|bds_imagine_filter_medium) }}')"
                    {% endif %}
        {% endspaceless %}>

        <div class="competition-image" {% spaceless %}
            {% if competition.hasImage %}
             style="background-image: url('{{ asset(competition.image|bds_imagine_filter_icon) }}?V0.{{ competition.image.id }}')"
            {% else %}
             style="background-image: url('{{ asset('bundles/bdsrwweb/images/default_competition.jpg'|bds_imagine_filter_icon) }}')"
        {% endif %}
        {% endspaceless %}></div>
    </div>
</div>