{% if not competition.phases.count %}
<div class="alert alert-success">
    <strong>Bien Hecho!</strong> Has creado la competición <strong>{{ competition.name }}</strong>
    El siguiente paso es crear una fase, puedes hacerlo desde aquí
    <a href="{{ path("v2_panel_config_get_phase_create",{"slug":competition.slug}) }}" class="alert-link"> crear fase</a>.
</div>
{% endif %}