<div class="content-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{{ competition.name }}</h2>
                </div>
                <div class="body">
                    <div class="col-sm-9">
                        {% include "@BDSRWWeb/v2/competition/dashboard/competition_images.html.twig" %}
                    </div>
                    <div class="col-sm-3">
                        <h5>{{ competition.name }}</h5>
                        <div class="text-center">
                            <a {% if competition.publish %}
                                target="_blank" href="{{ path('front_competition',{"slug":competition.slug,"phase_slug":competition.phases.first.slug}) }}"
                            {% else %}
                                disabled=""
                            {% endif %}
                                    type="button" class="btn btn-primary waves-effect">
                                <i class="material-icons">language</i>
                                <span>Página Competición</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 competition-text">
                            {{ competition.text|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>