<table class="table table-bordered table-striped table-hover js-datatable dataTable">
    <thead>
    <tr>
        <th class="hidden">#</th>
        <th>Nombre</th>
        <th>Box</th>
        <th>Categoría | Fase</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        {% for athlete in last_registrations.athletes %}
            {% if athlete.team_name %}
                 {% set name=athlete.team_name %}
            {% else %}
                {% set name=athlete.bot_name?:last_registrations.users[athlete.user_id].name %}
            {% endif %}

            <tr>
                <td class="hidden">{{ loop.index }}</td>
                <td>{{ name }}</td>
                <td>{{ athlete.box_name }}</td>
                <td>{{ athlete.category_name }} <span class="badge bg-light-blue">{{ athlete.phase_name }}</span></td>
                <td>
                    <span class="badge bg-{{ ('athlete_status_class.'~athlete.status)|trans({},"competition",'es') }}">{{ ('athlete_status.'~athlete.status)|trans({},"competition",'es') }}</span>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">Aún no se han inscrito atletas</td></tr>
        {% endfor %}
    </tbody>
</table>