{% set is_admin=is_user_admin_in_competition(app.user,competition) %}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 m-t-20 m-b-20">
            <div class="text-center">
                <h5>Publicar Competición</h5>
                <div class="switch">
                    <label><input class="publish-competition" data-competition="{{ competition.slug }}" type="checkbox" {% if competition.isPublished %}checked=""{% endif %}><span class="lever switch-col-blue"></span></label>
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row clearfix">
        <div class="col-sm-8">
            <h4>Nombre de la Competición</h4>
            <div class="form-group form-group-lg">
                <div class="form-line">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <h5>Dirección de la web</h5>
            <div class="input-group">
                <span class="input-group-addon">https://{{ license.domain }}/</span>
                <div class="form-line">
                    {{ form_widget(form.slug) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4 align-center">
            <p>
                Este será el <strong>nombre</strong> que aparezca en la web, y el que se divulgará a los atletas y en las redes sociales.
            </p>
            <p>
                La <strong>dirección</strong> de la web será donde los atletas se informarán de tu competición.
            </p>
        </div>
    </div>
    <hr>
    <div class="row clearfix">
    <div class="col-sm-8">
        <h4>Dirección</h4>
        <div class="form-group form-group-lg">
            <div class="form-line">
                {{ form_widget(form.address.street) }}
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="form-line">
                {{ form_widget(form.address.city) }}
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="form-line">
                {{ form_widget(form.address.postcode) }}
            </div>
        </div>
        <div class="form-group form-group-lg">
            <h5>Provincia</h5>
            <div class="form-line">
                {{ form_widget(form.address.provinceCode) }}
            </div>
            <h5>País</h5>
            <div class="form-line">
                {{ form_widget(form.address.countryCode) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4 align-center">
        <p>
            Este será la <strong>dirección</strong> que aparezca en el listado de competiciones. Servirá para que los ateltas puedan buscar competiciones cercanas.
        </p>
    </div>
</div>
    <hr>
    <div class="row clearfix">
        <div class="col-sm-8">
            <h4>Descripción de la Competición</h4>
            <div class="form-group form-float">
                {{ form_widget(form.text) }}
            </div>
        </div>
        <div class="col-sm-4 align-center">

            <p>
                La <strong>descripción</strong> de tu competicion es donde deberás comunicar el proposito de tu competicion, y cualquier detalle que creas que es importante para los competidores
                </p>
            <p>
               Las cosas mas imortantes para incluir serían que material necesitan llevar los competidores, información sobre la ubicacion y las normas básicas de la misma.
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 text-center">
            {{ form_widget(form.submit) }}
        </div>
    </div>
        <hr>
    {{ form_end(form) }}
    <div class="row clearfix flex-container">
        <div class="col-sm-8">
            <h4>Imagen Principal</h4>
            <div class="bottom">
                <div id="competition-image" class="user-avatar {% if is_admin %}dropzone{% endif %} dz-clickable"
                        {% spaceless %}
                            {% if competition.hasImage %}
                                style="background-image: url('{{ asset(competition.image|bds_imagine_filter_icon) }}?V0.{{ competition.image.id }}')"
                            {% else %}
                                style="background-image: url('{{ asset('bundles/bdsrwweb/images/default/image_upload_2.png'|bds_imagine_filter_small) }}')"
                            {% endif %}
                        {% endspaceless %}
                     data-action="{{ oneup_uploader_endpoint('competition_logo')~"?slug="~competition.slug }}">
                    <div class="dz-default dz-message"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 align-center">
            <p>Aquí irá el <strong>logo</strong> de tu competicion. Para conseguir un mayor efecto recomendamos subir un fichero PNG sin fondo, de un tamaño mínimo de 500*500 px </p>
                {% if competition.hasImage %}
                    <p>Puedes cambiar tu imagen simplente haciendo click sobre ella, o quitandola y vovliendola a subir.</p>
                    <button type="button" class="btn btn-xs bg-red waves-effect">
                        <i class="material-icons">delete_forever</i>
                        <span>Quitar Imagen</span>
                    </button>
                {% else %}
                    <p>
                        Haz click sobre el recuadro de la izquierda para subir tu imagen.
                    </p>
                {% endif %}
        </div>
    </div>
    <hr>
    <div class="row clearfix flex-container">
        <div class="col-sm-8">
            <h4>Fondo Principal</h4>
            <div class="photo">
                {% set is_admin=is_user_admin_in_competition(app.user,competition) %}
                <div id="competition-background-image" class="competition-background-image {% if is_admin %}dropzone{% endif %} dz-clickable"
                        {% spaceless %}
                            {% if competition.hasBackgroundImage %}
                                style="background-image: url('{{ asset(competition.backgroundImage|bds_imagine_filter_medium) }}?V0.{{ competition.image.id }}')"
                            {% else %}
                                style="background-image: url('{{ asset('bundles/bdsrwweb/images/default/image_upload_2.png'|bds_imagine_filter_small) }}')"
                            {% endif %}
                        {% endspaceless %}
                     data-action="{{ oneup_uploader_endpoint('competition_background')~"?slug="~competition.slug }}">
                    <div class="dz-default dz-message"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 align-center">

            <p>
                Aquí irá el <strong>fondo</strong> de tu competicion. Esta imagen se compartirá como cabecera principal de tu competición y será la que se comparta en los enlaces de las redes sociales.
                Recomendamos subir una imagen apaisada en formato 16:9

            </p>
            {% if competition.hasBackgroundImage %}
                <p>Puedes cambiar tu imagen simplente haciendo click sobre ella, o quitandola y vovliendola a subir.</p>
                <button type="button" class="btn btn-xs bg-red waves-effect">
                    <i class="material-icons">delete_forever</i>
                    <span>Quitar Imagen</span>
                </button>
            {% else %}
                <p>
                    Haz click sobre el recuadro de la izquierda para subir tu imagen.
                </p>
            {% endif %}
        </div>
    </div>