    <div class="row">
        {% if phase is defined %}
        <div class="col-sm-12">
            {% if not phase.isPaid %}
                <div class="alert alert-warning" role="alert">
                    Antes de poder publicar una fase debes de realizar el pago de la misma desde <a id="payment-link" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}" data-price="{{ phase.getCost }}" class="alert-link" data-toggle="modal" data-target="#paymentModal">Aquí</a>
                </div>
                {% if app.user.isAdmin %}
                    <div class="alert alert-danger" role="alert">
                        Como Administrador puedes anular este pago haciendo click <a class="alert-link unpay" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}">Aquí</a>
                    </div>
                {% endif %}
            {% endif %}
            {% if not competition.publish %}
                <div class="alert alert-warning" role="alert">
                    Aún no has publicado tu competición. Puedes hacerlo desde <a class="alert-link" href="{{ path('v2_panel_config_get',{"slug":competition.slug}) }}">Aquí</a>
                </div>
            {% endif %}
            {% if phase.categories.isEmpty %}
                <div class="alert alert-warning" role="alert">
                    Aún no hay <strong>Categorías</strong> en esta fase. Puedes Crearlas desde <a class="alert-link" href="{{ path('v2_panel_categories_get',{"slug":competition.slug}) }}">Aquí</a>
                </div>
            {% endif %}
            {% if phase.paidCategories and ( (not phase.competition.gatewayConfig) or (not phase.competition.gatewayConfig.filled)) %}
                <div class="alert alert-warning" role="alert">
                    Algunas de tus <strong>Categorías</strong> tienen un precio de inscripción. Debes completar los datos del proveedor de pagos antes de publicar la fase
                    puedes hacerlo <a class="alert-link" href="{{ path('v2_panel_gateway_get',{"slug":competition.slug}) }}">Aquí</a>
                </div>
            {% endif %}
        </div>

        <div class="col-sm-offset-4 col-sm-4 m-t-20 m-b-20">
            <div class="text-center">
                <h5>{% if phase.isPublished %} Fase Publicada {% else %} Publicar Fase {% endif %}</h5>
                <div class="switch">
                    <label><input class="publish-phase" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}" type="checkbox" {% if phase.isPublished %}checked=""{% endif %} {% if not phase|ready_to_publish %} disabled {% endif %}><span class="lever switch-col-blue"></span></label>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{{ form_start(form) }}
    <div class="row clearfix">
        <div class="col-sm-8">
            <h4>Nombre de la Fase</h4>
            <div class="form-group form-group-lg form-float">
                <div class="form-line {% if form.name.vars.errors|length %} focused error {% endif %}">
                  {{ form_widget(form.name) }}
                  {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4 align-center">
            <p>
                El <strong>Primer</strong> paso es crear una Fase. La competiciones tendrán almenos una fase ( online, presencial ,interna) de
                la cual dependeran el tipo de WODs y controles.
            </p>
        </div>
    </div>
    <hr>
    <div class="row clearfix">
        <div class="col-sm-12">
            <h4>Fechas de la Fase</h4>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <div class="input-group date">
                <div class="form-line">
                    {{ form_errors(form.startDate) }}
                    {{ form_label(form.startDate) }}
                    {{ form_widget(form.startDate) }}
                </div>
                <span class="input-group-addon"><i class="material-icons">date_range</i></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group date">
                <div class="form-line">
                    {{ form_errors(form.endDate) }}
                    {{ form_label(form.endDate) }}
                    {{ form_widget(form.endDate) }}
                </div>
                <span class="input-group-addon"><i class="material-icons">date_range</i></span>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <h4>Tipo de Fase</h4>
        </div>
        <div class="col-sm-4">
                <p class="align-justify">
                    <strong>Fase Online </strong> En esta fase, podras invitar o permitir que los <i>Atletas</i> se inscriban en tu competición. Los resultados
                    de los WODs seran proporcionados por <i>Atletas</i> o <i>Jueces</i>
                </p>
                <p>199€</p>
        </div>
        <div class="col-sm-4">
            <p class="align-justify">
                        <strong>Competición Interna</strong> Pensado para realizar competiciones internas del Box, el <i>Administrador</i> será el encargado de crear a todos los participantes y resultados de los WODs
                        que podrán ser agrupados por tandas.
            </p>
            <p>99€</p>
        </div>
        <div class="col-sm-4">
            <p class="align-justify">
                <strong>Fase Presencial</strong> Sólo los <i>Jueces</i> y <i>Administradores</i> podran proporcionar los resultados, que se podran agrupar por Tandas para facilitar
                su inserción.
            </p>
            <p>199€</p>
        </div>
    </div>
    <div class="row">
        {% if (phase is defined) and (not phase.isEditable) %}
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <p class="phase-not-editable">
                    <i class="material-icons">warning</i> Cuando una fase está pagada o contiene Eventos o Atletas ya no se puede modificiar su tipo
                </p>
            </div>
        {% endif %}
        {% for type in form.phase_type  %}
        <div class="col-sm-4 text-center">
            {{ form_errors(type) }}
            {% if (phase is defined) and (not phase.isEditable) %}
                {{ form_widget(type,{"attr":{"class":"with-gap radio-col-light-blue","disabled":"disabled"} }) }}
            {% else %}
                {{ form_widget(type,{"attr":{"class":"with-gap radio-col-light-blue"} }) }}
            {% endif %}
            {{ form_label(type) }}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            <p class="align-justify">
                <strong>¿Acepta Inscripciones?</strong> Si activas esta opcion, se activará en tu web un formulario de inscripción. En caso contrario deberás añadir a los atletas manualmente.
            </p>
        </div>
        <div class="col-sm-4">
            <p class="align-justify">
                <strong>¿Require Video?</strong> Si activas esta opcion, en esta fase será <strong>obligatorio</strong> introducir una URL de un video en la entrega de los
                resultados.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4 text-center">
            {% for type in form.acceptApplies  %}
                    {{ form_errors(type) }}
                    {{ form_widget(type,{"attr":{"class":"with-gap radio-col-light-blue"} }) }}
                    {{ form_label(type) }}
            {% endfor %}
        </div>
        <div class="col-sm-4 text-center">
            {% for type in form.requiresVideo  %}
                    {{ form_errors(type) }}
                    {{ form_widget(type,{"attr":{"class":"with-gap radio-col-light-blue"} }) }}
                    {{ form_label(type) }}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h4>Configuración de Resultados</h4>
        </div>
        <div class="col-sm-6">
            <p class="align-justify">
                <strong>¿Como publicar los resultados?</strong> Existen 3 formas para publicar los resultados, <i>Instantanea</i> que publica el leaderboard desde que se publica el evento. <i>Al acabar el evento</i> que publicará los resultados
                en el momento en el que un evento finaliza, ó <i>Manual</i> que permite publicar los resultados cuando el administrador quiera.
            </p>
            <div class="form-group text-center">
              {{ form_widget(form.publicResultType) }}
          </div>
        </div>
        <div class="col-sm-6">
            <p class="align-justify">
                <strong>Puntuación</strong> Existen 2 formas de puntuación en la fase. Que se sumen las posiciones, y cuantos menos puntos mejor. O establecer una puntuación
                para cada evento ( 50, 100,200), y que posiciona mejor el atleta con más puntos. ( Como en los <i>CrossFit Games</i>)
            </p>
            <div class="form-group text-center">
              {{ form_widget(form.typeResults) }}
          </div>
        </div>
    </div>
    <hr>
    <div clasS="row">
        <div class="col-sm-12">
            {% if (phase is defined) and(phase.order)and (not phase.order.isPaid) %}
                <button type="button" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}" class="btn btn-danger btn-lg delete-phase pull-right"> Eliminar Fase </button>
            {% endif %}
            {{ form_widget(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}