<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="top-brand p-t-40 p-b-40">
            <h2 style="background-image: url({{ asset(("bundles/bdsrwweb/images/logo/icons/licenses/"~license.slug~"//android-icon-192x192.png")|bds_imagine_filter_small) }})">{{ license.name }}</h2>
        </div>
        <!-- User Info -->

        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li>
                    <a class="menu-toggle">
                        <i class="material-icons">person</i>
                        <span>{{ app.user.completeName }}</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="{{ path('v2_get_dashboard_get_profile') }}">Mi perfil</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Salir</a>
                        </li>
                    </ul>
                </li>
                <li class="{{ (['v2_panel_competitions','dashboard']|is_route_name_active) }} ">
                    <a href="{{ path('v2_panel_competitions') }}">
                        <i class="material-icons">grid_on</i>
                        <span>Mis Competiciones</span>
                    </a>
                </li>
                {% if competition|default(false) %}
                    {% if is_user_admin_in_competition(app.user,competition) %}
                        {% include '@BDSRWWeb/v2/competition/menu/competition_left_admin_menu.html.twig' %}
                    {% else %}
                        {% include '@BDSRWWeb/v2/competition/menu/competition_left_menu.html.twig' %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        {% if app.user.isAdmin %}
        <div class="legal text-center">
            <div class="create-competition">
                <a href="{{ path('v2_panel_competitions_get_create') }}" class="btn btn-primary waves-effect">
                        Crear Competición
                </a>
            </div>
        </div>
        {% endif %}
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>