<nav class="navbar hidden-lg">
    <div class="container-fluid">
        <div class="navbar-header">
                    <a class="bars"></a>
                    <a class="navbar-brand" href="{{ path('v2_panel_competitions') }}">{{ license.name }}</a>
                    <a href="{{ path('v2_panel_competitions') }}" class="navbar-brand">
                        <i class="material-icons">grid_on</i>
                        Mis Competiciones
                    </a>
                {% if competition|default(false) %}
                    {% if is_user_admin_in_competition(app.user,competition) %}
                    {% else %}
                        {% include '@BDSRWWeb/v2/competition/menu/competition_left_menu.html.twig' %}
                    {% endif %}
                {% endif %}
        </div>
    </div>
</nav>