<!-- Section : Home -->
<section id="inicio" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="home-overlay-v2">
        <div class="container">
            <div class="col-md-12">
                <div class="logo"><img src="{{ asset('bundles/bdsrwweb/img/'~license.slug~'/icons//android-icon-192x192.png') }}" class="img-responsive" alt="logo"></div><!-- end .logo -->
                <div class="info">
                    <h2>{{ license.name }}</h2>
                </div><!-- end .info -->
            </div><!-- end .col-md-12 -->
        </div><!-- end .cotainer -->

        <div class="avatar-section">
            <img src="{{ asset('bundles/bdsrwweb/images/front/results.png') }}" class="img-responsive" alt="resultados">
        </div><!-- end .avatar-section -->
    </div><!-- end .home-overlay -->
</section>
<!-- Section : Home end -->