{% set card_title=round.name~" "~event.name %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block competition_content %}
    <div class="row">
        {{ form_start(form) }}
        {% for userResult in form %}
            {% if not ((userResult.vars.name=='submit')or(userResult.vars.name=='_token')) %}
                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default panel-heading-fullwidth">
                        <div class="panel-heading">{{ form_label(userResult) }}</div>
                        <div class="panel-body">
                            {{ form_errors(userResult) }}
                            <div class="form-group form-group-lg">
                                <div class="form-line">
                                    {{ form_widget(userResult) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default panel-heading-fullwidth">
                <div class="panel-body text-center">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            // $("input.inputmask").inputmask({ regex:"[0-5][0-9]:[0-5][0-9]",placeholder:"__:__"});
        });
    </script>
{% endblock %}