{% extends "@BDSRWWeb/Skeleton/active_user_skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %} {{ license.name }} - Login {% endblock %}
{% block fos_user_content %}
    {% if error %}
        <p class="text-center text-danger"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></p>
    {% endif %}
    {% if app.session.flashBag.get('reset') %}
        <p class="text-center text-success"><strong>Se ha enviado un correo a tu dirección de email con los datos para resetear tu contraseña</strong></p>
    {% endif %}
    {% if app.session.flashBag.get('token_error') %}
        <p class="text-center text-success"><strong>El token introducido no es válido. Intenta entrar en tu cuenta o accede al proceso de recordar contraseña</strong></p>
    {% endif %}
    <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control"  id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" >
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                </label>
                <a href="{{ url("get_reset_password") }}" id="login-forget-link" class="text-center pull-right">
                    ¿Has Olvidado tu contraseña?
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <button type="submit" class="btn btn-success col-xs-12" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
            </div>
        </div>
        <div class="row text-center">
                <div class="col-sm-12 col-xs-12 mt5em">
                <a href="{{ url("get_front_register") }}" class="text-center mt1em btn btn-primary">
                    Date de Alta
                </a>
        </div>
    </form>
{% endblock fos_user_content %}