<div class="row m-t-20">
<div class="stripe-image" style="background-image:url('{{ asset('bundles/bdsrwweb/images/stripe/Big/powered_by_stripe@3x.png'|bds_imagine_filter_small)}}')">
</div>
<form action="{{ actionUrl|default('') }}" method="POST" class="m-t-40" id="payment-form">
    <span class="payment-errors"></span>
    <div class="form-group">
        <div class="form-line">
            <input type="text" class="form-control" size="20" data-stripe="number" placeholder="Número de Tarjeta"/>
        </div>
    </div>

    <div class="form-group">
        <div class="form-line">
            <input type="text" size="4" class="form-control" data-stripe="cvc" placeholder="CVC" />
        </div>
    </div>
    <div clasS="col-sm-4">
        <span>Fecha Caducidad (MM/YYYY)</span>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="form-line">
                <input type="text" size="2" class="form-control" data-stripe="exp-month" placeholder="MM"/>
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="form-line">
                <input type="text" size="4" class="form-control" data-stripe="exp-year" placeholder="YYYY"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Se realizará el cobro de <strong id="phase-price"></strong>€ en su tarjeta de crédito.
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn bg-light-blue waves-effect pull-right">Realizar Pago</button>
        </div>

    </div>
</form>
</div>