<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{ license.name }}</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('bundles/bdsrwweb/img/'~license.slug~'/icons//android-icon-36x36.png') }}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    {% block stylesheets  %}
        {% stylesheets filter="cssrewrite" output="css/v2/panel.css"
            "bundles/bdsrwweb/plugins/bootstrap/css/bootstrap.min.css"
            "bundles/bdsrwweb/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css"
            "bundles/bdsrwweb/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
            "bundles/bdsrwweb/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
            "bundles/bdsrwweb/plugins/bootstrap-select/css/bootstrap-select.min.css"
            "bundles/bdsrwweb/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"
            "bundles/bdsrwweb/plugins/node-waves/waves.min.css"
            "bundles/bdsrwweb/plugins/animate-css/animate.min.css"
            "bundles/bdsrwweb/bower/dropzone/dist/min/dropzone.min.css"
            "bundles/bdsrwweb/bower/trumbowyg/dist/ui/trumbowyg.min.css"
            "bundles/bdsrwweb/bower/noty/src/noty.scss"
            "bundles/bdsrwweb/bower/sweetalert2/dist/sweetalert2.css"
            "bundles/bdsrwweb/scss/style.scss"
            "bundles/bdsrwweb/scss/themes/theme-light-blue.scss"
            "bundles/bdsrwweb/css/panel/custom.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body class="theme-light-blue">
<!-- Page Loader -->
{% include "@BDSRWWeb/v2/skeleton/components/page_loader.html.twig" %}
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Top Bar -->
{% include "@BDSRWWeb/v2/skeleton/components/top_bar.html.twig" %}
<!-- #Top Bar -->
{% include "@BDSRWWeb/v2/skeleton/components/left_side_bar.html.twig" %}

<section class="content main_content ">
    {% block content %}

    {% endblock %}
</section>
{% block modal %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        var publishable_key={{ stripe_publishable_key|json_encode|raw }};
    </script>
    {% javascripts output="js/v2/panel.js"
        '@BDSRWWebBundle/Resources/public/plugins/jquery/jquery.js'
        '@BDSRWWebBundle/Resources/public/bower/materialize/dist/js/materialize.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        'js/fos_js_routes.js'
        '@BDSRWWebBundle/Resources/public/bower/moment/moment.js'
        '@BDSRWWebBundle/Resources/public/bower/moment/locale/es.js'
        '@BDSRWWebBundle/Resources/public/plugins/bootstrap/js/bootstrap.js'
        '@BDSRWWebBundle/Resources/public/plugins/bootstrap-select/js/bootstrap-select.js'
        '@BDSRWWebBundle/Resources/public/plugins/bootstrap-select/js/i18n/defaults-es_CL.min.js'
        '@BDSRWWebBundle/Resources/public/plugins/jquery-slimscroll/jquery.slimscroll.js'
        '@BDSRWWebBundle/Resources/public/plugins/jquery-countto/jquery.countTo.js'
        '@BDSRWWebBundle/Resources/public/plugins/jquery-datatable/jquery.dataTables.js'
        '@BDSRWWebBundle/Resources/public/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'
        '@BDSRWWebBundle/Resources/public/plugins/node-waves/waves.js'
        '@BDSRWWebBundle/Resources/public/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js'
        '@BDSRWWebBundle/Resources/public/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'
        '@BDSRWWebBundle/Resources/public/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js'
        '@BDSRWWebBundle/Resources/public/plugins/jquery-validation/jquery.validate.js'
        '@BDSRWWebBundle/Resources/public/bower/inputmask/dist/jquery.inputmask.bundle.js'
        '@BDSRWWebBundle/Resources/public/bower/trumbowyg/dist/trumbowyg.js'
        '@BDSRWWebBundle/Resources/public/bower/trumbowyg/dist/langs/es.min.js'
        '@BDSRWWebBundle/Resources/public/bower/jquery-form/dist/jquery.form.min.js'
        '@BDSRWWebBundle/Resources/public/bower/dropzone/dist/dropzone.js'
        '@BDSRWWebBundle/Resources/public/js/panel/dropzone_options.js'
        '@BDSRWWebBundle/Resources/public/bower/noty/lib/noty.js'
        '@BDSRWWebBundle/Resources/public/bower/sweetalert2/dist/sweetalert2.all.js'
        "bundles/bdsrwweb/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"
        '@BDSRWWebBundle/Resources/public/bower/handlebars/handlebars.js'
        '@BDSRWWebBundle/Resources/public/js/handlebars/handlebars_out.js'
        '@BDSRWWebBundle/Resources/public/js/panel/handlebars_base.js'
        '@BDSRWWebBundle/Resources/public/js/panel/noty_base.js'
        '@BDSRWWebBundle/Resources/public/js/v2/admin.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/forms.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/event_results.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/event.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/heats.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/admins.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/judges.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/payment.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/publish.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/athletes.js'
        '@BDSRWWebBundle/Resources/public/js/v2/panel/team.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% include "@BDSRWWeb/v2/noty/noty_helper.html.twig" %}
    <script type="application/javascript">
        $(function() {
            $.trumbowyg.svgPath = '{{ asset('bundles/bdsrwweb/bower/trumbowyg/dist/ui/icons.svg') }}';
            $('textarea.trumbowyg').trumbowyg();
        });
    </script>
{% endblock %}
{% if app.flashes('new_user') or app.user.confirmationToken  %}
    <script type="text/javascript">
        setTimeout(() => {
        swal({
            title: "Hola {{ app.user.firstName }}",
            text: "Bienvenido a {{ license.name }}, es el momento de establecer tu contraseña:",
            input: "password",
            showCancelButton: false,
            animation: "slide-from-top",
            inputPlaceholder: "Escribe tu contraseña",
            allowOutsideClick: false,
            preConfirm: (email) => {
                return new Promise((resolve) => {
                        if (!email) {
                            swal.showValidationError(
                                'Debes poner una contraseña'
                            )
                        }
                        resolve()
                })
            }
        }).then((result)=>{
            if(result.value){
                $.ajax({
                    url: Routing.generate('v2_user_set_first_password').replace("http:","https:"),
                    method:"POST",
                    data: {"pwd":result.value},
                    headers: {'X-HTTP-Method-Override': 'PATCH'},
                    dataType: 'json',
                    success: function (result) {
                        if(result.success){
                            swal("Listo!", "Tu contraseña ha sido acutalizada", "success");
                        } else {
                            swal("Uphs!", "Parece que hemos sufrido una incidencia actualizando tu contraseña", "warning");
                        }
                    }
                });
            }
        });},2000);
    </script>
{% endif %}
</body>
</html>