{% extends "@BDSRWWeb/Skeleton/active_user_skeleton.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div id="login-box">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box-inner">
                        <!-- <img src="img/logo-login.png" alt="SuperheroAdmin" class="img-responsive" id="login-logo"/> -->
                        <div id="login-logo">
                            <img src="{{ asset("bundles/bdsrwweb/images/logo/icons/licenses/"~license.slug~"/apple-icon-180x180.png")}}" alt="{{ license.name }}"/><br />
                            <span class="crossfit_font">{{ license.name }}</span>
                        </div>
                        <div class="hide">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}