{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Una nueva {{ competition?"Fase":"Competición" }} ha sido solicitada
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}El usuario '{{ user.completeName }}' ha solicitado una {{ competition?"Fase":"Competición" }}{% endblock %}
{% block content %}
    <h2 class="h2"><strong>Formulario {{ competition?"Fase":"Competición" }}</strong></h2>
    <h3>Mail contacto <a href="mailto:{{ mail }}">mail</a></h3>
    <p>
        {% if competition %}
            Has Solicitado Crear una nueva fase para tu competición '{{ competition.getName }}', en breve nos podremos en contacto para gestionarlo.
        {% else %}
            {{  text }}
        {% endif %}
    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}