{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Has Solicitado una {{ isPhase?"Fase":"Competición" }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Hola '{{ user.firstName }}' {% endblock %}
{% block content %}
    <h2 class="h2"><strong>Formulario {{ isPhase?"Fase":"Competición" }}</strong></h2>

    <h3>
        Has solicitado la creación de una {{ isPhase?"Fase":"Competición" }}. Se ha enviado un email al servicio de soporte que se pondrá en contacto contigo lo antes posible. Muchas Gracias por confiar en {{ license.name }}
    </h3>
    <p><strong>Tu petición:</strong> {{ text }}</p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}