{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.getCompleteName }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="https://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Has sido añadido como Atleta en <strong>{{ competition.name }}</strong> {% endblock %}
{% block content %}
    <h2 class="h2">Atleta <strong>{{ user.getFirstName }}</strong> en <strong>{{ competition.name }} - {{ phase.name }}</strong></h2>
    <p>
        Hola <i>{{ user.username }}</i>
        {% if athlete.isInvited %}
            te han invitado a participar en
        {% else %}
            ya formas parte de
        {% endif %}
        <i>{{ competition.name }}</i>,
        {% if user.confirmationToken %}
            el primer paso será confirmar tu cuenta haciendo Click <a href="{{ url("get_front_register_confirm",{'token': user.confirmationToken}) }}">Aquí </a>
        {% else %}
            accede a tu cuenta haciendo Click <a href="{{ url("v2_panel_competitions") }}">Aquí </a>
        {% endif %}

    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}