{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.getCompleteName }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="https://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Tu pago se ha realizado correctamente en <strong>{{ competition.name }}</strong> {% endblock %}
{% block content %}
    <h2 class="h2">Atleta <strong>{{ user.getFirstName }}</strong> en <strong>{{ competition.name }} - {{ phase.name }}</strong></h2>
    <p>
       Hola {{ user.getFirstName }} tu pago se ha realizado correctamente para la competicion <i>{{ competition.name }} - {{ phase.name }}</i>,
        {% if user.confirmationToken %}
            el primer paso será confirmar tu perfil, hacinedo click <a href="{{ url('get_front_register_confirm',{"token": user.confirmationToken}) }}">Aquí</a>
        {% else %}
            ya puedes acceder a la competición desde tu perfil, hacinedo click <a href="{{ url('fos_user_security_login') }}">Aquí</a>
        {% endif %}

    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}