/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
nav * a, nav * a:hover, nav * a:focus {
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #414141;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active li ul.submenu {
    display: none;
}


#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active a>span {
    display: none;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #292929;
}



#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #292929;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #292929;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #414141;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #414141;
}

a.article,
a.article:hover {
    background: #414141 !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;

}
div.container-fluid {
    min-height: 100vh;
}
div.sidebar-header h3 {
    display: inline-block;
    margin: unset;
}
div.sidebar-header img {
    display: inline-block;
}
/** FLEX CONTAINER **/
.flex-container{
    display: flex;
    align-items: center;
    align-content: center;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
{
    transition: background 0s linear;
    background-color: whitesmoke; ;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    transition: background 0s linear;
    background-color: whitesmoke; ;
}
.hero-parallax {
    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g-height-35vh{
    min-height: 35vh;
    max-height: 40vh;
}
div.container-fluid{
    padding: unset;
}
section.hero-parallax h1 {
    color: ghostwhite;
}
@media only screen and (min-width: 600px) {
section.hero-parallax h1 {
    font-size: 4em;
}
}

.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
td div.index-background-image{
    width: 5vw;
    height: 5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}
div.register-form{
    background: white;
    padding: 3em;
    -webkit-box-shadow: 7px 10px 41px -10px rgba(0,0,0,0.38);
    -moz-box-shadow: 7px 10px 41px -10px rgba(0,0,0,0.38);
    box-shadow: 7px 10px 41px -10px rgba(0,0,0,0.38);
}
form#payment-form{
    margin:auto;
    margin-top: 3vh;

}