{% set image=competition.image?competition.image.filePath:"bundles/bdsrwweb/images/default_competition.jpg" %}
<div class="row g-pt-80">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <h1 class="text-center"> Workouts {{ phase.name }} <small>{{ competition.name }}</small></h1>
    </div>
</div>
<div class="row g-pt-80 g-pb-80">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <div id="accordion">
            {% for event in phase.publishedEvents %}
                <div class="card">
                    <div class="card-header" id="heading_{{ event.slug }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link {% if not loop.first %}collapsed{% endif %}" data-toggle="collapse" data-target="#{{ event.slug }}" aria-expanded="{{ loop.first?"true":"false" }}" aria-controls="{{ event.slug }}">
                                {{ event.name }}
                            </button>
                        </h5>
                    </div>
                    <div id="{{ event.slug }}" class="collapse {{ loop.first?"show":"" }}" aria-labelledby="heading_{{ event.slug }}" data-parent="#accordion">
                        <div class="card-body">
                            <p>{{ event.text|raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>