.rank-row {
    background-color: #4D4D4D;
    color: whitesmoke;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 3px;
}
.rank-name{
    color: white;
    font-weight: 600;
}
.rank-box{
    color: #8a8a8a;
    font-weight: 600;
}
.rank-result{
    color: #ffbc28;
    font-weight: 800;
    font-size: xx-large;
    text-shadow: 3px 3px rgba(68, 68, 68, 0.89);

}
.rank-number{
    color: #ffbc28;
    font-weight: 800;
    font-size: xx-large;
}
.section{
    padding: 15px 0;
}
div.navbar-header > .header-logo > img {
    margin-top: 10px;
}
.home-parallax .container {
    padding: 20px 20px;
}
.row img {
    max-width: 60vw;
}

