{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.getUsername }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Has sido añadido como Administrador en <strong>{{ competition.name }}</strong> {% endblock %}
{% block content %}
    <h2 class="h2">Administrador <strong>{{ user.username }}</strong> en <strong>{{ competition.name }}</strong></h2>
    <p>
        Hola <i>{{ user.username }}</i> te han invitado para colaborar como administrador en <i>{{ competition.name }}</i>, puedes aceptar
        o declinar esta invitación despues de crear tu cuenta haciendo click <a href="{{ url("get_front_register_confirm",{'token': user.confirmationToken}) }}">Aquí </a>
    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}