{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        {% block pre_card %}
        {% endblock %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>{{ card_title }}</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {# Class Header #}
                                {% block competition_tab_header %}
                                    {% include "@BDSRWWeb/v2/competition/components/tabs_by_phase.html.twig" %}
                                {% endblock %}
                                {# end Tabs header#}
                                {# tabs content #}
                                <div class="tab-content">
                                    {% block competition_tab_content %}
                                    {% endblock %}
                                </div>
                                {#end tabs#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}