{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>{{ card_title }}</h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {# Class Header #}
                                <ul class="nav nav-tabs tab-col-tail" role="tablist">
                                    {% for competition_phase in competition.phases %}
                                        <li role="presentation" {% if  (phase is defined) and (competition_phase.slug==phase.slug) %}class="active" {% endif %}>
                                            <a href="{{ path('v2_panel_config_get_phase',{"slug":competition.slug,"phase_slug":competition_phase.slug}) }}" aria-expanded="false">Fase {{ competition_phase.name }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if ['v2_panel_config_get_phase_create']|is_route_name %}
                                        <li role="presentation" class="active">
                                            <a href="#" aria-expanded="false">Nueva Fase</a>
                                        </li>
                                    {% else %}
                                        <li role="presentation">
                                            <a href="{{ path('v2_panel_config_get_phase_create',{"slug":competition.slug}) }}" aria-expanded="false">+ Añadir Fase</a>
                                        </li>
                                    {% endif %}
                                </ul>
                                {# end Tabs header#}
                                {# tabs content #}
                                <div class="tab-content">
                                    {% block competition_tab_content %}
                                    {% endblock %}
                                </div>
                                {#end tabs#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}