<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">gavel</i>
            </div>
            <div class="content">
                <div class="text">Total Jueces</div>
                <div class="number count-to" data-from="0" data-to="{{ competition.judgeUsers.count }}" data-speed="2000" data-fresh-interval="5">{{ competition.judgeUsers.count }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-light-blue hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_outline</i>
            </div>
            <div class="content">
                <div class="text">Total Administradores</div>
                <div class="number count-to" data-from="0" data-to="{{ competition.adminUsers.count }}" data-speed="2000" data-fresh-interval="5">{{ competition.adminUsers.count }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">Aceptados</div>

                <div class="number count-to" data-from="0" data-to="0" data-speed="2000" data-fresh-interval="5">10</div>
            </div>
        </div>
    </div>

</div>