{% set competition_label=(competition_label is defined)?competition_label:false %}
<ul class="nav nav-tabs tab-col-tail" role="tablist">
    {% if competition_label %}
        <li role="presentation" class="active">
            <a href="#competition-{{ competition.slug }}" data-toggle="tab" aria-expanded="false">{{ competition.name }}</a>
        </li>
    {% endif %}
    {% for phase in competition.phases %}
        <li role="presentation" {% if (loop.first and not competition_label) %}class="active" {% endif %}>
            <a href="#phase-{{ phase.slug }}" data-toggle="tab" aria-expanded="false">Fase {{ phase.name }}</a>
        </li>
    {% endfor %}
</ul>