{% set card_title="Datos específicos de '"~competition.name~"' para '"~athlete.firstName~"'" %}
{% set card_size ="col-md-8 col-md-offset-2 col-xs-12" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content.html.twig" %}
{% block competition_content %}
                    {{ form_start(form) }}
                    {% for key,element in form %}
                        {% if (key is not same as ('submit')) and (key is not same as ('_token')) %}
                            <div class="form-group">
                                {% if (form[key].vars.value.extraData.type) is not same as ('bool') %}
                                <div class="form-line">
                                    {{ form_errors(form[key]) }}
                                    {{ form_label(form[key]) }}
                                    {{ form_widget(form[key].value , {"attr":{"class":"form-control"}})}}
                                </div>
                                {% else %}
                                    {{ form_errors(form[key]) }}
                                    {{ form_label(form[key]) }}
                                    <div>
                                        {{ form_widget(form[key].value,{"attr":{"class":"form-control"}})}}
                                        {{ form_label(form[key].value) }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                        {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                        <a href="{{ path("v2_panel_athletes_get",{"slug":competition.slug}) }}" class="pull-right btn bg-amber btn-link waves-effect m-t-20"> Atrás </a>
                    {{ form_end(form) }}
{% endblock %}