<h2 class="h2">{{ user.roninFoxUser.firstName }} has sido añadido al a competicion <strong>{{ phase.competition.name }}</strong></h2>
<h3 class="h3">Para la fase {{ phase.name }}, categoría {{ category.name }}</h3>
<p>
    La competición ya se encuentra añadida a tu cuenta. Ahorar solo necesitas confirmar tu participación, a traves de tu cuenta.
    o haciendo click en este <a href="{{ url("dashboard") }}">Enlace</a>
</p>
<br />
<br />