{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.getUsername }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Gracias por darte de Alta en {{ license.name }}{% endblock %}
{% block content %}
    <h2 class="h2">Bienvenido a {{ license.name }} <strong>{{ user.getUsername }}</strong></h2>
    <h3 class="h3">Solo te queda un paso para confirmar tu cuenta</h3>
    <p>
       Para completar tu registro accede a  <a href="{{ url("get_front_register_confirm",{'token': user.confirmationToken}) }}">Enlace </a>
    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}