{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
     {{ user.getUsername }}  el Team '{{ team.getName }}' te necesita
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}El team '{{ team.name }}' te necesita{% endblock %}
{% block content %}
    <h2 class="h2">El team '<strong>{{ team.name }}' te quiere en sus filas!</strong></h2>
    <h3 class="h3">Para aceptar la solicitud accede a tu cuenta en <a href="{{ url("dashboard") }}">{{ license.name }}</a></h3>
    <p>
       Al acceder a <a href="{{ url("dashboard") }}">{{ license.name }}</a> tendrás la posiblidad de aceptar o declinar la petición de ''{{ team.name }} de que formes parte de su equipo.
    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}