<h2 class="h2">Atleta has sido añadido al a competicion <strong>{{ phase.competition.name }}</strong></h2>
<h3 class="h3">Para la fase {{ phase.name }}, categoría {{ category.name }}</h3>
<p>
</p>
<br />
<br />