{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.roninFoxUser.getFirstName }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}{{ phase.competition.name }}{% endblock %}
{% block content %}
        {% include "BDSRWWebBundle:Mail/Competition:newUserInAttendancePhaseContent.html.twig" %}
{% endblock %}
{% block rightContent %}
    <span>{{ phase.competition.name }}</span>
    <p>{{ phase.competition.text }}</p>

{% endblock %}