<h2 class="h2">Atleta has sido añadido a la fase <strong>{{ phase.name }}</strong> de la Competición <strong>{{ phase.competition.name }}</strong></h2>
<h3 class="h3">En la categoría {{ category.name }}</h3>
<p>
    Mucha Suerte!!!
</p>
<br />
<br />