{% set card_title="Resultados" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content_by_phase.html.twig" %}
{% block competition_tab_content %}
    {% for phase in competition.phases %}
        <div role="tabpanel" class="tab-pane fade {% if loop.first %}active in {% endif %} " id="phase-{{ phase.slug }}">
                {% if phase.isOnline %}
                    {% include "@BDSRWWeb/v2/competition/judges/tabs/judge_resultados.html.twig" %}
                {% else %}
                    {% if phase.rounds.count %}
                        {% include "BDSRWWebBundle:v2/competition/judges/tabs:judge_heats.html.twig" %}
                    {% endif %}
                    {% for round in phase.rounds %}

                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{{ path('v2_panel_heat_result_get',{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug,"round_slug":round.slug}) }}">Haz click aquí para introducir los resultados de la tanda <strong>{{ round.name }}</strong></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        {% endfor %}
{% endblock %}
{% block modal %}
    <div id="modal-container"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}