<div class="row g-pt-80">
    <div class="col-lg-4 offset-lg-4">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link {{ (['front_competition']|is_route_name_active) }}" href="{{ path('front_competition',{"slug":competition.slug,"phase_slug":phase.slug}) }}" >Competición</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ (['front_competition_workouts']|is_route_name_active) }}" href="{{ path('front_competition_workouts',{"slug":competition.slug,"phase_slug":phase.slug}) }}">Workouts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('front_competition_results',{"slug":competition.slug}) }}">LeaderBoard  <i class="fas fa-external-link-alt"></i></a>
            </li>
            {% if phase.isReadyForApplies %}
            <li class="nav-item">
                <a class="nav-link {{ (['front_competition_register']|is_route_name_active) }}" href="{{ path('front_competition_register',{"slug":competition.slug,"phase_slug":phase.slug}) }}">Registro</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>