

<nav id="sidebar" class="active">
    <div class="sidebar-header flex-container">
       <a href="{{ path('front_index') }}">
           <img src="{{ asset('bundles/bdsrwweb/img/'~license.slug~'/icons//android-icon-48x48.png') }}" alt="{{ license.name }}" name="{{ license.name }}">
           <h3>{{ license.name }}</h3>
       </a>
    </div>
    <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
    </button>
    <ul class="list-unstyled components">
        <li>
            <a href="{% if not app.user %}{{ path("fos_user_security_login") }}{% else %}{{ path("v2_get_dashboard_edit_profile") }}{% endif %}">
                <i class="fas fa-user"></i>
                <span>{{ app.user.firstName|default("Anónimo") }}</span>
            </a>
            <ul class="list-unstyled submenu">
                {% if app.user %}
                    <li>
                        {{ app.user.firstName }}
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Cerrar Sesión</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ path('front_register') }}">Registro</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="{% if app.user %}
                        {{ path("v2_panel_competitions") }}
                        {% else %}
                        {{ path("fos_user_security_login") }}
                    {% endif %}">
                <i class="fas fa-desktop"></i>
                <span>Panel</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                <span>Contact</span>
            </a>
        </li>
    </ul>
</nav>