<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 80px;">
    <div class="main-menu-continer">
        <nav id="main-menu" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-navicon"></i>
                    </button>
                    <!-- Logo -->
                    <a href="/" class="header-logo">
                        <img src="{{ asset(("bundles/bdsrwweb/images/logo/icons/licenses/"~license.slug~"/apple-icon-60x60.png")|bds_imagine_filter_icon) }}" alt="{{ license.name }}">
                    </a>
                    <!-- Logo -->
                </div><!-- End .navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Navigation -->
                    <ul class="nav navbar-nav">
                        <li {{  (app.request.get('_route')=='front_competition')?'class="active"':'' }}><a href="{{ path("front_competition",{"slug":competition.slug,"phase_slug":competition.phases.first.slug}) }}" class="colapse-menu1">Inicio</a></li>
                        {% for phase in competition.phases|get_published %}
                                <li class="menu-item-has-children">
                                    <a>Fase {{ phase.getName }}</a>
                                    {%  if (not (phase.events|get_published).empty) or (phase.AcceptApplies) or (phase.rounds) %}
                                        <ul class="sub-menu">
                                            {% if phase.hasRounds %}
                                                <li><a href="{{ path("front_competition_rounds",{"slug":competition.slug,"phase_slug":phase.slug}) }}">Tandas</a></li>
                                            {% endif %}
                                            {% if phase.AcceptApplies %}
                                                <li><a href="{{ path("front_competition_register",{"slug":competition.slug,"phase_slug":phase.slug}) }}">Regístrate</a></li>
                                            {% endif %}
                                            {% for event in (phase.events|get_published) %}
                                                <li><a href="{{ path("front_competition_event",{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug}) }}">{{ event.name }}</a></li>
                                            {% endfor %}

                                        </ul><!-- /.sub-menu -->
                                        <span class="toggle_nav_button">+</span>
                                    {% endif %}
                                </li>
                        {% endfor %}
                        {% if competition.hasResults %}
                            <li {{  (app.request.get('_route')=='front_competition_results')?'class="active"':'' }}><a href="{{ path("front_competition_results",{"slug":competition.slug}) }}" class="colapse-menu1">Resultados</a></li>
                        {% endif %}
                    </ul>
                    <!-- Navigation End -->
                </div><!-- End .collapse -->
            </div><!-- End .container -->
        </nav><!-- End #main-menu -->
    </div>
</div>