<div class="main-menu-continer">
    <nav id="main-menu" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-navicon"></i>
                </button>
                <!-- Logo -->
                <a href="{{ path("index") }}" class="header-logo">
                    <img src="{{ asset('bundles/bdsrwweb/img/'~license.slug~'/icons/android-icon-72x72.png') }}" alt="{{ license.name }}">
                </a>
                <!-- Logo -->
            </div><!-- End .navbar-header -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- Navigation -->
                <ul class="nav navbar-nav" id="navs">
                    <li><a href="{{ path("index") }}" class="colapse-menu1">{{ license.name }}</a></li>
                    {% include '@BDSRWWeb/Front/Menu/user_menu_section.html.twig' %}
                </ul>
                <!-- Navigation End -->
            </div><!-- End .collapse -->
        </div><!-- End .container -->
    </nav><!-- End #main-menu -->
</div>