{% if app.user %}
    <li class="menu-item-has-children">
        <a href="#"><i class="fa fa-user"></i> {{ app.user.getFirstName }}</a>
        <ul class="sub-menu">
            <li><a href="{{ path('v2_panel_competitions') }}">Panel</a></li>
            <li><a href="{{ path("fos_user_security_logout") }}"><i class="fa fa-power-off"></i>Desconexion</a></li>
        </ul><!-- /.sub-menu -->
    </li>
{% else %}
    <li class="menu-item-has-children">
        <a href="#">Entrar / Registar</a>
        <ul class="sub-menu">
            <li><a href="{{ path("fos_user_security_login") }}"><i class="fa fa-user"></i>Login</a></li>
            <li><a href="{{ path("get_front_register") }}"><i class="fa fa-user-plus"></i>Registro</a></li>
        </ul><!-- /.sub-menu -->
    </li>
{% endif %}