<div class="tab-pane fade {% if active %}show active{% endif %}" id="{{ tab_id }}" role="tabpanel">
    <table class="table">
        {% for phase in phases %}
        <tr>
            <td class="text-center g-color-gray-dark-v5 g-valign-middle">
                <time datetime="{{ phase.startDate|custom_date("d-m-Y") }}">
                    <span class="d-block g-color-black g-font-weight-700 g-font-size-20 g-line-height-1">{{ phase.startDate|custom_date("d") }}</span>
                    {{ phase.startDate|custom_date("M Y") }}
                </time>
            </td>
            <td  class="d-none d-sm-table-cell">
                <div class="index-background-image" {% if phase.competition.image%}style="background-image: url('{{ asset(phase.competition.image|bds_imagine_filter_small) }}')"{% endif %}></div>
            </td>
            <td class="text-center g-color-gray-dark-v5 g-valign-middle">
                <h3 class="h6 g-font-weight-700 text-uppercase">
                    <a class="g-color-gray-dark-v2" href="#!">{{ phase.competition.name }} <small>{{ phase.name }} ({{ phase.PhaseType|trans([],"competition","es") }})</small></a>
                </h3>
                {% if phase.competition.address %}
                    <em class="g-color-gray-dark-v5 g-font-style-normal">{{ phase.competition.address.street }} - {{ phase.competition.address|sylius_province_name("ES") }} - {{ phase.competition.address.countryCode|sylius_country_name("es-ES")}}<br></em>
                {% endif %}
                <em>
                    {% if phase.categories %}
                        Competición
                        {% if phase.hasIndividualCategory %}
                            Individual
                        {% endif %}
                        {% if phase.hasIndividualsAndTeams %}
                            y
                        {% endif %}
                        {% if phase.hasTeamCategory %}
                            por equipos
                        {% endif %}
                    {% else %}
                        Categorías por definir
                    {% endif %}
                </em>
                <div class="g-mt-minus-10 g-mx-minus-5 d-block d-sm-none">
                    {% include "@BDSRWWeb/Front/Pages/index/components/readmore_applies.html.twig" %}
                </div>
            </td>
            <td class="text-right g-valign-middle  d-none d-sm-table-cell">
                {% set start_price=(phase.startPrice/100)|number_format(2,".",",") %}
                {% if start_price>0 %}
                    <span class="d-block g-color-gray-dark-v5 g-font-size-11 text-uppercase">Desde</span>
                    <span class="d-block g-color-gray-dark-v2 g-font-weight-700">{{  start_price }}€</span>
                {% else %}
                    <span class="d-block g-color-gray-dark-v2 g-font-weight-700">Inscripción</span>
                    <span class="d-block g-color-gray-dark-v5 g-font-size-11 text-uppercase">Gratuita</span>
                {% endif %}
            </td>
            <td class="g-valign-middle d-none d-sm-table-cell">
                <div class="g-mt-minus-10 g-mx-minus-5">
                    {% include "@BDSRWWeb/Front/Pages/index/components/readmore_applies.html.twig" %}
                </div>
            </td>
        </tr>
        {% else %}
            <tr><td>No hay competiciones en esta categoría</td></tr>
        {% endfor %}
    </table>
</div>