<div class="row g-pt-80">
    <div class="col-md-12 col-lg-8 offset-lg-2">
        <!-- Nav tabs -->
        <ul class="nav  nav-pills justify-content-center g-brd-bottom--md g-brd-gray-light-v4" role="tablist" data-target="nav-5-3-default-hor-border-bottom-left-padding-0"  data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
            <li class="nav-item">
                <a class="nav-link g-px-0--md g-mr-30--md" data-toggle="tab" href="#past_competitions" role="tab">Competiciones Pasadas</a>
            </li>
            {% if current|length %}
                <li class="nav-item">
                    <a class="nav-link g-px-0--md g-mr-30--md {{ (current|length)?"active":"" }}" data-toggle="tab" href="#current_competitions" role="tab">En directo</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link g-px-0--md g-mr-30--md {{ (not(current|length))?"active":"" }}" data-toggle="tab" href="#future_competitions" role="tab">Próximas Competiciones</a>
            </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-5-3-default-hor-border-bottom-left-padding-0" class="tab-content g-pt-20">
            {% include "@BDSRWWeb/Front/Pages/index/components/competition_tab.html.twig" with {"phases":past,    "active":false, "tab_id":"past_competitions"}  %}
            {% if current|length %}
                {% include "@BDSRWWeb/Front/Pages/index/components/competition_tab.html.twig" with {"phases":current, "active":(current|length),  "tab_id":"current_competitions"}  %}
            {% endif %}
            {% include "@BDSRWWeb/Front/Pages/index/components/competition_tab.html.twig" with {"phases":future,  "active":(not(current|length)), "tab_id":"future_competitions"}  %}
        </div>
        <!-- End Tab panes -->
    </div>
</div>

