<section class="g-py-200--md g-py-10 g-py-80--xl g-height-35vh hero-parallax" style="background-image: url('{{ asset('bundles/bdsrwweb/images/index/chv2.jpg'|bds_imagine_filter_big) }}');">
    <div class="container text-center">
        <h1 class="text-uppercase g-font-weight-600 g-mb-20">Encuentra tu próxima competición</h1>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 g-mb-30">
                <div class="g-mb-50">
                    <input class="form-control u-shadow-v19 g-brd-none g-bg-white g-font-size-16 g-rounded-30 g-px-30 g-py-13 g-mb-30" type="text" placeholder="Busca tu competición por nombre o lugar">
                </div>
            </div>
        </div>
    </div>
</section>