
<a class="btn btn-lg u-btn-outline-black g-font-weight-600 g-font-size-12 text-uppercase g-mx-5 g-mt-10" href="{{ path('front_competition',{"slug":phase.competition.slug, "phase_slug":phase.slug}) }}">Leer Más</a>
{% if phase.isReadyForApplies %}
    <a class="btn btn-lg u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase g-mx-5 g-mt-10" href="{{ path('front_competition_register',{"phase_slug":phase.slug,"slug":phase.competition.slug}) }}">Inscripciones</a>
{% endif %}