    <div class="main-content">
        <div class="row">
        {% if app.user.isAdmin %}
        {% endif %}
        {% if app.session.flashBag.get('new_user') %}
            <div class="col-md-offset-2 col-md-8 col-xs-12">
            <div class="panel panel-alt-1">
                <div class="panel-body">
                    <div role="alert" class="alert alert-info alert-icon alert-border-color">
                        <div class="icon"><span class="s7-rocket"></span></div>
                        <div class="message">
                            Has Completado el proceso de Alta!! Puedes añadir mas datos a tu perfil haciendo click
                            <strong>
                                <a href="{{ path("get_dashboard_get_profile") }}">AQUI!</a>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if (not app.user.completeName) or (not app.user.gender) or (not app.user.dateBirth) %}
        <div class="col-md-offset-2 col-md-8 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div role="alert" class="alert alert-warning alert-icon alert-border-color">
                            <div class="icon"><span class="s7-attention"></span></div>
                            <div class="message">
                                Tu perfil aún no está completo porfavor completalo hacieno click <strong><a href="{{ path("get_dashboard_edit_profile") }}">AQUI!</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        {% endif %}
        {% include '@BDSRWWeb/Panel/Dashboard/Panels/notifications.html.twig' %}

        {% include '@BDSRWWeb/Panel/Dashboard/Panels/ongoing_competitions.html.twig' %}
        </div>
    </div>