<!--FACEBOOK-->
<meta property="og:locale" content="es_ES" >
<meta property="og:site_name" content="{{ license.name }}">
<meta property="og:url" content="https://{{ license.domain }}" >
<meta property="og:type" content="website" >
<meta property="og:title" content="{{ license.name }} {{ competition.name|default("") }}" >
<meta property="og:description" content="{% spaceless %}
{% if competition|default(false) %}Resultados de la competición {{ competition.name }}{% else %} Tu gestor de competiciones de CrossFit{% endif %}
{% endspaceless %}" >
{# DEFAULT COMPETITION IMAGE #}
{% if competition|default(false) and competition_image_exists(competition) %}
    <meta property="og:image" content="{{ asset('bundles/bdsrwweb/images/competitions/'~competition.slug~'.jpg'|bds_imagine_filter_medium) }}" >
{% endif %}
{# DEFAULT License RESULTS IMAGE #}
<meta property="og:image" content="{{ asset(('bundles/bdsrwweb/images/front/licenses/'~license.slug~'_web.png')|bds_imagine_filter_medium) }}" >
<meta property="og:image:url" content="{{ asset(('bundles/bdsrwweb/images/front/licenses/'~license.slug~'_web.png')|bds_imagine_filter_medium) }}" >


