    <div class="content {% if not app.user.isAdmin() %}hidden-xs{% endif %}">
        <div class="am-logo"></div>
        <ul class="sidebar-elements">
            {#<li class="parent"><a href="#"><i class="icon s7-monitor"></i><span>Dashboard</span></a></li>#}
            {#<li class="parent"><a href="#"><i class="icon s7-date"></i><span>Calendar</span></a></li>#}
            <li><a href="{{ path('v2_panel_competitions') }}"><i class="icon s7-home"></i><span>Inicio</span></a></li>
            <li><a href="{{ path("get_dashboard_get_profile") }}"><i class="icon s7-user"></i><span>Mi Perfil</span></a></li>
            <li><a href="{{ path("get_panel_competitions") }}"><i class="icon s7-gym"></i><span>Competiciones</span></a></li>
            {#TODO ENABLE WHEN TEAMS AVAILABLE#}

            {% if app.user.isAdmin %}
                <li><a href="{{ path("get_panel_admin_users") }}"><i class="icon s7-users"></i><span>Usuarios</span>
                        <span class="label label-default display-inline-block">Admin</span></a></li>
                <li><a href="{{ path("get_panel_admin_get_boxes") }}"><i class="icon s7-box2"></i><span>Boxes</span>
                        <span class="label label-default display-inline-block">Admin</span>
                    </a>
                </li>
                <li><a href="{{ path("get_panel_teams") }}"><i class="icon fa fa-users"></i><span>Teams</span></a></li>
            {% endif %}
        </ul>
        <!--Sidebar bottom content-->
    </div>