
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="page-title"><span>{{ license.name }}</span></div>
            <a class="am-toggle-left-sidebar navbar-toggle collapsed hidden-xs">
                    <span class="icon-bar"><span></span><span></span><span></span></span></a>
                    <a href="{{ path('v2_panel_competitions') }}" class="navbar-brand"></a>
        </div>
        <a data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
        <div id="am-navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right am-user-nav">
                <li class="dropdown">
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <img src="{{ asset('bundles/bdsrwweb/images/avatar_2x.png') }}">
                            <span class="user-name">{{ app.user.completeName }}</span><span class="angle-down s7-angle-down"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{ path("get_dashboard_get_profile") }}"> <span class="icon s7-user"></span>Mi perfil</a></li>
                        {#<li><a href="#"> <span class="icon s7-config"></span>Opciones</a></li>#}
                        <li><a href="{{ path("fos_user_security_logout") }}"> <span class="icon s7-power"></span>Salir</a></li>
                    </ul>
                </li>
                <li class="visible-xs-block"><a href="{{ path("get_panel_competitions") }}"><i class="icon s7-gym"></i> <span> Competiciones</span></a></li>
                {% if app.user.isAdmin %}
                    <li class="visible-xs-block"><a href="{{ path("get_panel_admin_users") }}"><i class="icon s7-users"></i><span>Usuarios</span></a></li>
                    <li class="visible-xs-block"><a href="{{ path("get_panel_admin_get_boxes") }}"><i class="icon s7-box2"></i><span>Boxes</span></a></li>
                    <li class="visible-xs-block"><a href="{{ path("get_panel_admin_team") }}"><i class="icon fa fa-users"></i><span>Teams</span></a></li>
                {% endif %}
                {# TODO ENABLE WHEN NEEDED #}
                {#<li class="visible-xs-block"><a href="{{ path("get_panel_teams") }}"><i class="icon fa fa-users"></i><span>Teams</span></a></li>#}
            </ul>
        </div>
    </div>