{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Resultados del Evento</h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                {% for key,element in form.children %}
                                    {% if not((key=='submit')or(key=='_token')) %}
                                        <div class="form-group">
                                            <div clasS="form-line">
                                                {{ form_row(element) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {{ form_widget(form.submit,{"attr":{"class":"pull-right btn bg-light-blue btn-link waves-effect m-t-20"}}) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}