{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
{% set measure_names=event|measure_names %}
    <div class="content-fluid">
        <ol class="breadcrumb breadcrumb-bg-blue">
            <li><a href="{{ path('v2_panel_competition', {'slug': competition.slug}) }}"><i class="material-icons">grid_on</i> {{ competition.name }}</a></li>
            <li><a href="{{ path('v2_panel_competition', {'slug': competition.slug}) }}"><i class="material-icons">blur_on</i> {{ phase.name }}</a></li>
            <li class="active"><i class="material-icons">fitness_center</i> {{ event.name }}</li>
        </ol>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {# Class Header #}
                                {% include "@BDSRWWeb/v2/competition/events/component/event_header.html.twig" %}
                                {# end Tabs header#}
                                {# tabs content #}
                                <div id="event" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}" data-event="{{ event.slug }}" class="tab-content">
                                    {% include "@BDSRWWeb/v2/competition/events/tabs/general.html.twig" %}
                                    {% include "@BDSRWWeb/v2/competition/events/tabs/resultados.html.twig" %}
                                    {% include "@BDSRWWeb/v2/competition/events/tabs/heats.html.twig" %}
                                </div>
                                {#end tabs#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div id="modal-container"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}