{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% block content %}
    <div class="content-fluid">
        <ol class="breadcrumb breadcrumb-bg-blue">
            <li><a href="{{ path('v2_panel_competition', {'slug': competition.slug}) }}"><i class="material-icons">grid_on</i> {{ competition.name }}</a></li>
            <li><a href="{{ path('v2_panel_competition', {'slug': competition.slug}) }}"><i class="material-icons">blur_on</i> {{ phase.name }}</a></li>
            <li class="active"><i class="material-icons">fitness_center</i>Crear Evento</li>
        </ol>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                            {{ form_start(form) }}
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <h4>Nombre del evento</h4>
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            {{ form_widget(form.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 align-center">
                                    <p>
                                        Este será el <strong>nombre</strong> que aparezca en la web, y el que se divulgará a los atletas y en las redes sociales.
                                    </p>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <h5>Descripción del Evento</h5>
                                    <p>Realiza la descripción de tu <strong>evento</strong>. Esta descripción será publicada en la web de tu competición</p>
                                    <div class="form-group form-float">
                                        {{ form_widget(form.text) }}
                                    </div>
                                </div>
                            </div>
                            {% if form.videoUrl is defined %}
                                <hr>
                                <div class="row clearfix">
                                    <div class="col-sm-8">
                                        <h5>Url Del Video</h5>
                                         <div class="form-group">
                                            <div class="form-line">
                                                {{ form_widget(form.videoUrl) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>Sube el video de tu competición a <strong>Youtube</strong>, prográmalo y pega aqui su URL. En cuanto tu video esté publicado todos podrán verlo junto con la explicación del evento.</p>
                                    </div>
                                </div>
                            {% endif %}
                            <hr>
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <h5>Fecha de Publicación</h5>
                                    <div class="form-group form-float">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">alarm</i></span>
                                            <div class="form-line">
                                                {{ form_widget(form.publishedAt) }}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h5>Fecha Límite</h5>
                                    <div class="form-group form-float">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">alarm</i></span>
                                            <div class="form-line">
                                                {{ form_widget(form.limitDate) }}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% if form.measureGroups is defined %}
                            {% if form.vars.value.id %}
                                <div>
                                    <strong>Tipo de Resultado</strong>: {{ form.vars.value|get_result_type }} <br>
                                </div>
                            {% endif %}
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <h5>Resultados</h5>
                                    <div class="form-group">
                                        {{ form_widget(form.measureGroups) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <h5>Desempate</h5>
                                    <div class="form-group">
                                        {{ form_widget(form.tieBreak) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p>Elige también el tipo de <strong>resultados</strong> que tendrá el evento. Puedes hacer por Mayor número de repeticiones, menor tiempo, o en los eventos con TimeCap el tiempo en realizar el workout, y el número de repeticiones para lo que no lo terminen en el tiempo establecido</p>
                                    <p>El <strong>Desempate</strong> es un extra que podemos añadir a nuestro evento que nos permitirá ordenar los atletas que hayan empatado en el evento</p>
                                </div>
                            </div>
                        {% else %}
                            <div>
                                <strong>Tipo de Resultado</strong>: {{ form.vars.value|get_result_type }} <br>
                            </div>
                            <div class="alert alert-warning">
                                <strong>Cuidado!</strong> Si cambías el tipo de resultado eliminarás todos los resultados introducidos. Si aún asi quieres hacerlo, haz click <a href="{{ path('v2_panel_workout_get_edit_form',{"slug":competition.slug,"phase_slug":phase.getSlug,"event_slug":form.vars.value.slug,"result-types":1}) }}" class="alert-link">aqui</a>.
                            </div>
                        {% endif %}
                        {% if form.pointSystem is defined %}
                            <hr>
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <h5>Puntuación del evento</h5>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(form.pointSystem) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p>Elige que puntuación tendrá este evento, en caso de que sea un evento doble, ambas partes tendrán la misma puntuación.</p>
                                </div>
                            </div>
                        {% endif %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.datetimepicker').bootstrapMaterialDatePicker({
                format: 'DD-MM-YYYY HH:mm',
                clearButton: true,
                weekStart: 1
            });
        });
    </script>
{% endblock %}