{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.getFirstName }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="http://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Recuperacion de Contraseña{% endblock %}
{% block content %}
    <h2 class="h2">Atleta has pedido recuperar la contraseña para tu cuenta <strong>{{ user.getUsername }}</strong></h2>
    <p>
        Para recuperar la contraseña solo tienes que hacer click en este <a href="{{ url("get_set_reset_password",{'token': user.confirmationToken}) }}">Enlace </a>
    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
{% endblock %}