<div class="demo-radio-button">
    {{#each categories}}
        <input value="{{@key}}" id="{{@key}}" name="category" type="radio" {{# if (equal this ../category) }} checked="checked" {{/if}}>
        <label for="{{@key}}">{{ this }}</label>
    {{/each}}
</div>