.navbar-brand > img {
    width: 32px;
    opacity: 1;
}
.btn-u.btn-banner {
    max-width: 256px;
}
.pricing-inner-1 .fa {
    color: #55d3c4;
}
.pricing-inner-2 .fa {
    color: #55d3c4;
}

.short-info-bg-1 strong {
    font-size: larger;
}
.short-info-bg-1 small {
    font-size: 35%;
}
.subfooter .social-item {
    width: 33.3%;
}