{% extends "@BDSRWWeb/Skeleton/results.html.twig" %}
{% block title %} {{ event.name }} - {{ competition.name }} - {{ license.name }} {% endblock %}
{% block seo %}
    {% set title=competition.name~" "~event.name~" | {{ license.name }}"  %}
    {% set description=" Evento "~event.name~" de la competición "~competition.name %}
    {% set image=asset(competition.image|bds_imagine_filter_medium)  %}
    {% include "@BDSRWWeb/Front/Seo/seo.html.twig" %}
{% endblock %}
{% block home %}
    <section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="home-overlay-v2">
            <div class="container">
                <div class="col-md-12">

                    <div class="logo">
                        {% if competition.hasImage %}
                            <img src="{{ asset(competition.image|bds_imagine_filter_small) }}" class="img-responsive" alt="{{ competition.name }}">
                        {% else %}
                            <img src="{{ asset('bundles/bdsrwweb/images/Test/fitforcare.jpg'|bds_imagine_filter_icon) }}" class="img-responsive" alt="{{ competition.name }}">
                        {% endif %}
                    </div><!-- end .logo -->
                    <div class="info">
                        <h2>{{ competition.name }}</h2>
                    </div><!-- end .info -->
                </div><!-- end .col-md-12 -->
            </div><!-- end .cotainer -->
        </div><!-- end .home-overlay -->
    </section>
    {% include "@BDSRWWeb/Front/Menu/event_menu.html.twig" %}
{% endblock %}
{% block section %}
    <section class="portfolio-single">
        <div class="container">
            {%  if event.published or app.user.isAdmin or (app.user and is_user_admin_or_judge_in_competition(app.user,competition)) %}
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ event.name }}</h1>
                    {% if event.videoUrl %}
                    <div class="video-holder embed-responsive embed-responsive-16by9">
                        <iframe src="{{ event.videoUrl }}" class="embed-responsive-item"></iframe>
                    </div><!-- End .video-holder-->
                    <br><br><br>
                    {% endif %}
                </div><!-- End .col-xs-12 -->
            </div><!-- End .row -->
            <div class="row">
                <div class="col-xs-6 fr-view">
                    {{ event.text|raw }}
                </div><!-- End .col-xs-6 -->
                <div class="col-xs-6">
                    <ul class="item-meta">
                        <li><strong>Fase - </strong>{{ event.phase.name }}</li>
                        <li><strong>Fecha Límite - </strong>{{ event.limitDate|translated_date("%A %e de %B de %Y  %H:%M") }}</li>
                    </ul>
                    {% if event.isExpired %}
                        <a href="{{ path("front_competition_results",{"slug":competition.slug}) }}" class="btn">Resultados</a>
                    {% endif %}
                </div><!-- End .col-xs-6 -->
            </div>
            {% else %}
                <div class="row">
                    <h1>Este Evento aún no ha sido publicado</h1>
                </div>
            {% endif %}<!-- End .row -->
        </div><!-- End .container -->
    </section>
{% endblock %}