{% extends "@BDSRWWeb/Skeleton/results.html.twig" %}
{% block title %}{{ license.name }} | {{ competition.name }} {% endblock %}
{% block default_headers %}
    {% include '@BDSRWWeb/Skeleton/Blocks/facebook.html.twig' %}
{% endblock %}
{% block home %}
<section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="home-overlay-v2">
        <div class="container">
            <div class="col-md-12">
                <div class="info">
                    <h2>{{ competition.name }}</h2>
                    <h3>{{ phase.name }}</h3>
                </div><!-- end .info -->
            </div><!-- end .col-md-12 -->
        </div><!-- end .cotainer -->
    </div><!-- end .home-overlay -->
</section>
{% include "@BDSRWWeb/Front/Menu/event_menu.html.twig" %}
{% endblock %}
{% block section %}
    <section id="phases" class="section">
        <div class="container">
            <div class="section-title">
                <h2>Resultados '{{ phase.name }}'</h2>
                <a class="btn btn-danger" href="{{ path("front_competition_results_delete_caches",{"slug":competition.slug}) }}"><i class="fa fa-trash-o"></i> Eliminar caches</a>
            </div><!-- end .section-title -->

                <!-- Portfolio container -->
                                    {% for event in phase.events %}
                                        {% if (event.isSortable and event.results.count()) %}
                                            {% for category in phase.categories %}
                                                <div class="row">
                                                    <div>
                                                        <div class="col-lg-8 col-lg-offset-2 col-md-12">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="results-title"><h3>{{ event.name }} - {{ category.name }}</h3></div>
                                                                    <div class="block-results  {{ event.name|transliterate }}-{{ category.name|transliterate }}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- end .col-xs-12 col-sm-6 col-md-4 -->
                                                    </div>
                                                </div><!-- End .row -->
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                <!-- Portfolio container End-->
        </div>
    </section>
    <div id="endOfPage"></div>
{% endblock %}
{% block javascripts %}
    <script>
        var json_competition = '{{ competition_j|raw }}';
        var json_results = '{{ results|raw }}';
        var phase= '{{ phase.slug }}'
    </script>
    {{ parent() }}
    {% javascripts output="js/front/compiled_results_fluid_18112016.js"
    '@BDSRWWebBundle/Resources/public/js/front/results/results_generic.js'
    '@BDSRWWebBundle/Resources/public/js/front/results/results_fluid.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}