{% extends "@BDSRWWeb/Skeleton/active_user_skeleton.html.twig" %}
{% block title %} {{ license.name }}{% endblock %}
{% block fos_user_content %}
            <div class="section-title">
                <h2>Gracias por Registrarte {{ user.username }}</h2>
            </div><!-- end .section-title -->
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-xs-12">
                    <p>Acabmos de enviarte un email a '{{ user.email }}' que contiene el link de verificación de tu cuenta.
                        Porfavor, revisa tu correo.</p>
                    <div class="text-center">
                        <a href="{{ path("fos_user_security_login") }}" class="btn btn-success mt-button medium">Inicio</a>
                    </div>
                </div>
            </div>
{% endblock %}
