{% extends "@BDSRWWeb/Skeleton/results.html.twig" %}
{% block title %}{{ competition.name }} - Resultados | {{ license.name }}{% endblock %}
{% block seo %}
    {% set title=competition.name~" - Resultados | {{ license.name }}"  %}
    {% set description="Resultados de la competición "~competition.name %}
    {% set image=asset(competition.image|bds_imagine_filter_medium)  %}
    {% include '@BDSRWWeb/Front/Seo/seo.html.twig' %}
{% endblock %}
{% block home %}
<section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" {% if competition.hasBackgroundImage %}style="background-image: url('{{ asset(competition.backgroundImage|bds_imagine_filter_big) }}')"{% endif %}>
    <div class="home-overlay-v2">
        <div class="container">
            <div class="col-md-12">
                <div class="info">
                    <h2>{{ competition.name }}</h2>
                </div><!-- end .info -->
            </div><!-- end .col-md-12 -->
        </div><!-- end .cotainer -->
    </div><!-- end .home-overlay -->
</section>
{% include "@BDSRWWeb/Front/Menu/event_menu.html.twig" %}
{% endblock %}
{% block section %}
    <section id="phases" class="section">
        <div class="container">
            <div class="section-title">
                <h2>Resultados</h2>

                {% if app.user.isAdmin()|default(false) %}
                    <a class="btn btn-danger" href="{{ path("front_competition_results_delete_caches",{"slug":competition.slug}) }}"><i class="fa fa-trash-o"></i> Eliminar caches</a>
                {% endif %}
                {% if app.user and app.user.isAdmin() and is_user_admin_in_competition(app.user,competition) %}
                    {% if (competition|are_results_updatable ) %}
                        {% if not admin_results %}
                            <a class="btn btn-danger" href="{{ path("front_competition_results_admin",{"slug":competition.slug}) }}"><i class="fa fa-eye"></i> Ver Resultados Actualizados</a>
                        {% endif %}
                        <a class="btn btn-danger" href="{{ path("front_competition_results_delete_caches",{"slug":competition.slug}) }}"><i class="fa fa-refresh"></i> Actualizar Resultados</a>
                    {% endif %}
                {% endif %}
            </div><!-- end .section-title -->

            <div class="row">
                {%  for phase in competition.publishedPhases %}
                    {% if loop.first %}
                        <div class=" options clearfix{{ (competition.publishedPhases.count==1)?' hidden':'' }}">
                        <ul class="clearfix options">
                    {% endif %}
                    <li><a class="{{ loop.first?'selected':'' }} selector phase-selector" data-phase="{{ phase.slug }}">{{ phase.name }}</a></li>
                    {% if loop.last %}
                        </ul>
                        </div>
                        <div id="opt-test" >

                        </div>
                        <div class="box-selector {{ ((boxes|length)==0)?"hidden":"" }}">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 col-xs-12">
                                    <div class="form-group">
                                        <select id="box-selector" class="form-control">
                                            <option value="">Elige un Box</option>
                                            {% for box in boxes %}
                                                <option value="{{ box.name }}">{{ box.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% else  %}
                    <h1>No published Phases</h1>
                {% endfor %}
            </div> <!-- End .row -->
            <div class="row">
                <!-- Portfolio container -->
                <div>
                    <div class="col-lg-8 col-lg-offset-2 col-md-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div id="block-results">
                                </div>
                            </div>
                        </div>
                    </div><!-- end .col-xs-12 col-sm-6 col-md-4 -->
                </div>
                <!-- Portfolio container End-->
            </div><!-- End .row -->
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        function removeNewlines(str) {
//remove line breaks from str
            str = str.replace(/\s{2,}/g, ' ');
            str = str.replace(/\t/g, ' ');
            str = str.toString().trim().replace(/(\r\n|\n|\r)/g,"");
            return str;
        }
        var json_results = removeNewlines('{{ results|raw }}');

        var pre_compiled_results = JSON.parse(json_results);
        var competition = pre_compiled_results["competition_j"];
        var point_system= JSON.parse('{{ point_system|json_encode|raw }}');
    </script>
    {{ parent() }}
    {% javascripts output="js/front/compiled_results.js"
        '@BDSRWWebBundle/Resources/public/js/front/results/results_generic.js'
        '@BDSRWWebBundle/Resources/public/js/front/results/results.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}