{% extends "@BDSRWWeb/Skeleton/results.html.twig" %}
{% block title %}{{ license.name }} | {{ competition.name }}{% endblock %}
{% block home %}
    <section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="home-overlay-v2">
            <div class="container">
                <div class="col-md-12">

                    <div class="logo">
                        {% if competition.hasImage %}
                            <img src="{{ asset(competition.image|bds_imagine_filter_icon) }}" class="img-responsive" alt="{{ competition.name }}">
                        {% else %}
                            <img src="{{ asset('bundles/bdsrwweb/images/Test/fitforcare.jpg'|bds_imagine_filter_icon) }}" class="img-responsive" alt="{{ competition.name }}">
                        {% endif %}
                    </div><!-- end .logo -->
                    <div class="info">
                        <h2>{{ competition.name }}</h2>
                        <h3>Rondas {{ phase.name }}</h3>
                    </div><!-- end .info -->
                </div><!-- end .col-md-12 -->
            </div><!-- end .cotainer -->
        </div><!-- end .home-overlay -->
    </section>
    {% include "@BDSRWWeb/Front/Menu/event_menu.html.twig" %}
{% endblock %}
{% block section %}
    <div class="blog-post-holder isotope">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="masonry-post isotope-item">
                    <div class="masonry-post-title"><h4>Heat Final</h4></div>
                    <ul class="list-unstyled masonry-post-content">
                        <li>
                            <i class="fa fa-user"></i> RUNA <small>( # )</small>
                        </li>

                        <li>
                            <i class="fa fa-user"></i> Brown Bears 1 <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Team AlphaDen Wolves <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> El Azote del Norte <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Kaptium Team <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> MADRID GYMNASTIC BLACK <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> KLAN <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Pelailla <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Shogun - The Progrm <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Eolo United Gold <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Big Rhino Team <small>( # )</small>
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Los Elegidos <small>( # )</small>
                        </li>

                        <li>
                            <i class="fa fa-user"></i> Team Norte-AranBox <small>( # )</small>
                        </li>


                        <li>
                            <i class="fa fa-user"></i> CrossFit 77 Feet <small>( # )</small>
                        </li>



                        <li>
                            <i class="fa fa-user"></i> CFLR Jager <small>( # )</small>
                        </li>



                    </ul>
                </div>
            </div>
        </div>
        <!-- Standard .masonry-post -->
        {% for round in heats %}
            <div class="row">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="masonry-post isotope-item">
                    <div class="masonry-post-title"><h4>{{ round.name }}</h4></div>
                    <ul class="list-unstyled masonry-post-content">
                        {% for athlete in round.athletes %}
                            <li>
                                {% set name=athlete.team?athlete.team.name:athlete.roninFoxUser.completeName %}
                                <i class="fa fa-user"></i> {{ name }} <small>( {{ athlete|get_athlete_box_name }} )</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}