<li>
    <div class="row rank-row">
        <div class="col-lg-2">
            <span class="rank-number">{{ result.rank }}</span>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12"><span class="rank-name">{{ (result.athlete.userId) }}</span></div>
                <div class="col-lg-12"><span class="rank-box">Centaurus Box</span></div>
            </div>
        </div>
        <div class="col-lg-4">
            <span class="rank-result">{{ result|wod_result }}</span>
        </div>

    </div>
</li>