{% extends '@BDSRWWeb/Mail/base-email.twig' %}
{% block title %}
    Hola {{ user.getCompleteName }}
{% endblock %}
{% block preHeader %}{{ license.name }} - Tu aplicación de Gestión de Competiciones{% endblock %}
{% block preHeaderLinks %}<a href="https://{{ license.domain }}">{{ license.name }}</a>{% endblock %}
{% block headerContent %}Has sido añadido como Juez en <strong>{{ competition.name }}</strong> {% endblock %}
{% block content %}
    <h2 class="h2">Juez <strong>{{ user.getFirstName }}</strong> en <strong>{{ competition.name }}</strong></h2>
    <p>
       Hola {{ user.getFirstName }} te han invitado para colaborar como juez en <i>{{ competition.name }}</i>, puedes aceptar
        o declinar esta invitación desde tu perfil. O haciendo click <a href="{{ url('fos_user_security_login') }}">Aquí</a>
    </p>
    <br />
    <br />
{% endblock %}
{% block rightContent %}
    <span>{{ license.name }}</span>
    <p>Con {{ license.name }} podrás gestionar tu participacion en todas las competiciones que quieras, formar tus propios equipos y mucho más!!!</p>
{% endblock %}