<li class="competition-menu-title">
    <a href="{{ path('v2_panel_competition',{"slug":competition.slug}) }}">
        <span>{{ competition.name }}</span>
        <span class="badge competition-status-badge {{ competition.publish|competition_status_class }} ">{{ competition.publish|competition_status_copy }}</span>
    </a>
</li>
<li class="competition-menu-option {{ ('competition'|is_route_name_active) }}">
    <a href="{{ path("v2_panel_competition",{"slug": competition.slug }) }}">
        <i class="material-icons">desktop_windows</i>
        <span>DashBoard</span>
    </a>
</li>
<li class="competition-menu-option {{ (['v2_panel_config','v2_panel_categories','v2_panel_gateway','v2_panel_admins']|is_route_name_active) }}">
    <a class="menu-toggle">
        <i class="material-icons">settings</i>
        <span>Configuración</span>
    </a>
    <ul class="ml-menu">
        <li>
            <a href="{{ path("v2_panel_config_get",{"slug": competition.slug }) }}">
                <span>Información General</span>
            </a>
        </li>
        <li>
            <a href="{{ path("v2_panel_categories_get",{"slug": competition.slug }) }}">
                <span>Categorías</span>
            </a>
        </li>
        {% if not competition.phases.isEmpty %}

        <li>
            <a href="{{ path("v2_panel_config_phase",{"slug": competition.slug }) }}">
                <span>Fases</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{ path("v2_panel_gateway_get",{"slug": competition.slug }) }}">
                <span>Configuración de Pagos</span>
            </a>
        </li>
        <li>
            <a href="{{ path("v2_panel_admins_get",{"slug": competition.slug }) }}">
                <span>Administradores</span>
            </a>
        </li>
    </ul>

</li>
<li class="competition-menu-option {{ (['v2_panel_judge']|is_route_name_active) }}">
    <a class="menu-toggle">
        <i class="material-icons">gavel</i>
        <span>Jueces</span>
    </a>
    <ul class="ml-menu">
        <li>
            <a href="{{ path("v2_panel_judges_get",{"slug": competition.slug }) }}">
                <span>Añadir Jueces</span>
            </a>
        </li>
        <li>
            <a href="{{ path("v2_panel_judge_event_get_competition",{"slug": competition.slug }) }}" >
                <span>Asignar Resultados</span>
            </a>
        </li>
        <li>
            <a href="{{ path("v2_panel_judge_event_get_judges_results",{"slug": competition.slug }) }}" >
                <span>Lista Resultados</span>
            </a>
        </li>

    </ul>
</li>
{% if not competition.phases.isEmpty %}
    <li class="competition-menu-option {{ (['v2_panel_workout','v2_panel_event_result','v2_panel_overall','v2_panel_heat']|is_route_name_active) }}">
        <a class="menu-toggle waves-effect waves-block">
            <i class="material-icons">fitness_center</i>
            <span>Wods</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="{{ path("v2_panel_workout",{"slug": competition.slug }) }}">
                    <span>Gestion de WODs</span>
                </a>
            </li>
            {% if competition.hasAttendancePhase %}
            <li>
                <a href="{{ path("v2_panel_heat_get",{"slug": competition.slug }) }}" class=" waves-effect waves-block">
                    <span>Tandas</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    <li class="competition-menu-option {{ (['v2_panel_athletes_get','v2_panel_phase_import_get','v2_panel_bots_get_create','v2_panel_bots_post_create']|is_route_name_active) }}">
        <a href="{{ path("v2_panel_athletes_get",{"slug": competition.slug }) }}" class=" waves-effect waves-block">
            <i class="material-icons">people_outline</i>
            <span>Atletas / Equipos</span>
        </a>
    </li>
    <li class="competition-menu-option {{ (['v2_panel_results']|is_route_name_active) }}">
        <a href="{#{ path("v2_panel_results_event",{"slug": competition.slug }) }}#}" class=" waves-effect waves-block">
            <i class="material-icons">trending_up</i>
            <span>Score / Resultados</span>
        </a>
    </li>
{% endif %}
