{% if not competition.phases.isEmpty %}
                {{ (['v2_panel_workout',"v2_panel_workout_get_edit_form","v2_panel_workout_post_edit_form","v2_panel_event_result_post_form",'v2_panel_overall_get_phase','v2_panel_event_result_get_form',"v2_panel_heat_result_get","v2_panel_workout_get","v2_panel_workout_get_form","v2_panel_workout_get_edit_form"]|is_route_name_active) }}
    ">
        <a href="{{ path("v2_panel_workout",{"slug": competition.slug }) }}">
            <i class="material-icons">fitness_center</i>
            <span>Workouts</span>
        </a>
    {% if app.user.isAdmin or (app.user and is_user_admin_or_judge_in_competition(app.user,competition)) %}
                {{ (['v2_panel_judge_event_get_my_results']|is_route_name_active) }}">
            <a href="{{ path("v2_panel_judge_event_get_my_results",{"slug": competition.slug }) }}">
                <i class="material-icons">gavel</i>
                <span>Juez</span>
            </a>

    {% endif %}
{% endif %}
