<li class="competition-menu-option {{ (['v2_panel_competition']|is_route_name_active) }}">
    <a href="{{ path('v2_panel_competition',{"slug":competition.slug}) }}">
        <span>{{ competition.name }}</span>
        <span class="badge competition-status-badge {{ competition.publish|competition_status_class }} ">{{ competition.publish|competition_status_copy }}</span>
    </a>
</li>
{% if app.user|in_team(competition)  %}
    {% set team=app.user|get_team(competition) %}
    <li class="competition-menu-option
                {{ (['v2_panel_team']|is_route_name_active) }}">
        <a href="{{ path("v2_panel_team",{"slug": competition.slug,"team_slug": team.slug }) }}" class=" waves-effect waves-block">
            <i class="material-icons">people</i>
            <span>{{ team.name }}</span>
        </a>
    </li>
    <li class="competition-menu-option
                {{ (['v2_panel_list_team']|is_route_name_active) }}">
        <a href="{{ path("v2_panel_list_team",{"slug": competition.slug }) }}" class=" waves-effect waves-block">
            <i class="material-icons">people_outline</i>
            <span>Equipos</span>
        </a>
    </li>
{% endif %}
{% if not competition.phases.isEmpty %}
<li class="competition-menu-option
                {{ (['v2_panel_workout','v2_panel_workout_post_edit_form','v2_panel_event_result_post_form','v2_panel_overall_get_phase',"v2_panel_heat_result_get","v2_panel_workout_get","v2_panel_workout_get_form","v2_panel_workout_get_edit_form"]|is_route_name_active) }}">
    <a href="{{ path("v2_panel_workout",{"slug": competition.slug }) }}" class=" waves-effect waves-block">
            <i class="material-icons">fitness_center</i>
            <span>Workouts</span>
        </a>
</li>
    {% if app.user.isAdmin or (app.user and is_user_admin_or_judge_in_competition(app.user,competition)) %}
<li class="competition-menu-option {{ (['v2_panel_judges_get','v2_panel_judge_event_get_judges_results','v2_panel_judge_event_get_event','v2_panel_judge_event_get_competition',"v2_panel_judges_get_form"]|is_route_name_active) }}">
            <a href="{{ path("v2_panel_judge_event_get_my_results",{"slug": competition.slug }) }}" class=" waves-effect waves-block">
                <i class="material-icons">gavel</i>
                <span>Juez</span>
            </a>
</li>
    {% endif %}
{% endif %}
