{% extends "@BDSRWWeb/v2/skeleton/skeleton.html.twig" %}
{% set measure_names=event|measure_names %}
{% block content %}
    <div class="content-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                    <select class="form-control show-tick" name="judge">
                                        <option value="">-- Elige un Juez --</option>
                                        {% for judge in judges.judges %}
                                            <option value="{{ judge.judge_id }}">{{ judges.users[judge.user_id].name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="button" class="btn bg-light-green waves-effect" id="assign-results">
                                        <i class="material-icons">gavel</i>
                                        <span>Asignar</span>
                                </button>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div id="event" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}" data-event="{{ event.slug }}" class="tab-content">
                                    {% include "@BDSRWWeb/v2/competition/judges/tabs/resultados.html.twig" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div id="modal-container"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('.js-datatable').DataTable({
                lengthMenu: [40],
                responsive: true,
                bLengthChange : false,
                bInfo:false,
                language: $.jqueryDatabases
            });
        });
    </script>
{% endblock %}