{% set card_title="Asignar Jueces a Resultados" %}
{% extends "@BDSRWWeb/v2/competition/components/base_competition_content_by_phase.html.twig" %}
{% block competition_tab_content %}
    {% for phase in competition.phases %}
        <div role="tabpanel" class="tab-pane fade {% if loop.first %}active in {% endif %} " id="phase-{{ phase.slug }}">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover" data-competition="{{ competition.slug }}" data-phase="{{ phase.slug }}">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in phase.events %}
                        <tr>
                            <td>
                                {{ event.name }}
                            </td>
                            <td>
                                <a type="button" href="{{ path("v2_panel_judge_event_get_event",{"slug":competition.slug,"phase_slug":phase.slug,"event_slug":event.slug}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Asignar Jueces" class="btn bg-light-green btn-circle btn-circle-xs waves-effect waves-circle waves-float">
                                    <i class="material-icons">gavel</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endfor %}
{% endblock %}